<div class="account_content mod">
<h2>Scripts Greasemonkey et Tampermonkey</h2><hr>
    <div>
        <a href='https://addons.mozilla.org/fr/firefox/addon/greasemonkey/'>Greasemonkey</a> (pour Firefox) et <a href='https://tampermonkey.net/'>Tampermonkey</a> (pour Chrome
        et Opera) sont des extensions qui permettent d'améliorer les pages que vous visitez à l'aide de scripts. La R&D de TheTartuffeBay.org met à votre disposition plusieurs scripts qui apportent de nouvelles
        fonctionnalités sur les forums d'Hardware.fr.
        <br><br>
        <a href='/mod/HFR_HTML5_viewer.user.js'><h3>HTML5 Viewer pour HFR</h3><hr></a>
        Ce script permet d'afficher directement dans HFR des liens vers des fichiers webm/mp4/gifv/ogv. Il supporte tous les liens directs vers gfycat. Les gifs pointant sur imgur.com sont remplacés
        automatiquement par le gifv correspondant plus rapide à télécharger. Enfin, si une vidéo est plus large que la largeur de la page, elle est redimensionnée à la taille maximale de la page. <br>
        <a class="test-popup-link" target="_blank" href="/ui/images/screen_html5_2.jpg"><img alt="/ui/images/screen_html5_2.jpg" src="/ui/images/screen_html5_2.jpg"></a>
        <a href='/mod/HFR_Gibbactu.user.js'><h3>Ajout d'un bouton Gibbactu</h3><hr></a>
        Ce script rajoute un bouton spécial gibbactu dans la barre d'outil. Il insére le texte nécessaire pour faire simplement une gibbactu.
        <a class="test-popup-link" target="_blank" href="/ui/images/screen_gibbactu.jpg"><img alt="/ui/images/screen_gibbactu.jpg" src="/ui/images/screen_gibbactu.jpg"></a>
    </div>
</div>