Header set Access-Control-Allow-Origin "http://cdn.podigee.com"

#AuthUserFile /home/thetartuhi/.htpasswd
#AuthName "Acces Restreint"
#AuthType Basic
#Require valid-user

# Enable rewrite engine and route requests to framework
RewriteEngine On

# Some servers require you to specify the `RewriteBase` directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
#RewriteBase /

#RewriteCond %{HTTP_HOST} !^www\.thetartuffebay\.org [NC]
#RewriteRule (.*) http://www.thetartuffebay.org/$1 [QSA,R=301,L]

RewriteCond %{REQUEST_URI} \.ini$
RewriteRule \.ini$ - [R=404]

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

Options All -Indexes

# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>
