<div ng-controller="importcrHelperController" ng-cloak class="importcr">
  <h2>Import d'un CR</h2>

  <div class="messageko" ng-show="import_stepKO" ng-bind-html="messageKO"></div>
  <div class="message" ng-show="import_stepOK" ng-bind-html="message"></div>

  <input type="url" ng-change="resetURL()"  name="input" ng-model="cr_url" placeholder="<ignore>{{somePlaceholder}}</ignore>"/>

  <h4 ng-click="validateUrl(this)">Etape 1/3 > Vérifier le CR</h4>

  <div id="setp2" ng-show="import_step2">
    <h5>Etape 2/3 > Associer le(s) jeu(x)</h3>

    <div class="games" ng-repeat="game in table track by $index">
        <input ng-model="table[$index].name" type="text" placeholder='nom du jeu' disabled />
        <input type="button" ng-click="table.splice($index, 1)" value="supprimer"/>
    </div>
    <p ng-hide="table.length">aucun jeux!</p>
    <h5>Recherche de jeux</h3>

    <input keyboard-poster post-function="searchGames" class="inputsearch" ng-model="searchterm" type="text" placeholder='nom un jeu' />
    <div class="gamelist">
      <div class="games2" ng-repeat="game in tableGames">
        <ignore>
            {{game.name}} ({{game.date}})
            <input ng-show="(table | exist: game) < 0" style="width:100px" type="button" ng-click="addGame(game)" value="ajouter"/>
            <img ng-src="{{game.image.thumb_url}}">
          </ignore>
      </div>
    </div>


    <h4 ng-click="validateCR(this)" ng-show="import_step3">Etape 3/3 > Valider le CR</h4>



    <h3>preview du CR</h3>
    <div id="preview" ng-bind-html="cr_preview">

    </div>
  </div>

</div>
