<check if="{{ (\Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'true')) }}">
    <true>
        <div id='cssmenu'>
            <ul>
                <li><a href='{{@ALIASES.account}}'>Mon compte</a></li>
                <li><a href='{{@ALIASES.accountCR}}'>Mes CRs</a></li>
                <li><a href='{{@ALIASES.accountActu}}'>Mes dernières actus</a></li>
                <li class='active'><a href='{{@ALIASES.importcr}}'>Importer un CR</a></li>
                <li><a href='{{@ALIASES.manageUser}}'>Gestion des utilisateurs</a></li>
                <li><a href='{{@ALIASES.addUser}}'>Ajouter un utilisateur</a></li>
            </ul>
        </div>
        <div ng-controller="importcrHelperController" ng-cloak class="importcr">
            <h2>Import d'un CR</h2>

            <div class="messageko" ng-show="import_stepKO" ng-bind-html="messageKO"></div>
            <div class="message" ng-show="import_stepOK" ng-bind-html="message"></div>

            <input class="import" type="url" ng-change="resetURL()"  name="input" ng-model="cr_url" placeholder="<ignore>{{somePlaceholder}}</ignore>"/>

            <h4 ng-click="validateUrl(this)">Etape 1/4 > Vérifier le CR</h4>

            <div id="setp2" ng-show="import_step2">

                <h3>Etape 2/4 > Infos sur le CR</h3>
                <div class="step">
                    Type : <select ng-model="selectedType" name="selectedType">
                    <repeat group="{{ @types }}" value="{{ @item }}">
                        <option value="{{ @item['id'] }}">{{ @item['name'] }}</option>
                    </repeat>
                </select> - Format : <select ng-model="selectedFormat" name="selectedFormat">
                    <repeat group="{{ @formats }}" value="{{ @item }}">
                        <option value="{{ @item['id'] }}">{{ @item['name'] }}</option>
                    </repeat>
                </select>
                    <br><br><input class="import" type="text" ng-model="selectedComment" placeholder='commentaire'/>
                </div>

                <h3>Etape 3/4> Associer le(s) jeu(x)</h3>
                <div class="step">
                    <div class="games" ng-repeat="game in table track by $index">
                        <input class="import" ng-model="table[$index].name" type="text" placeholder='nom du jeu' disabled />
                        <input class="import" type="button" ng-click="table.splice($index, 1)" value="supprimer"/>
                    </div>
                    <p style="margin:10px;" ng-hide="table.length">Aucun jeu associé!</p>
                    <h3>Recherche d'un jeu</h3>

                    <input keyboard-poster post-function="searchGames" class="inputsearch import" ng-model="searchterm" type="text" placeholder='nom un jeu' />
                    <div class="gamelist">
                        <div class="games2" ng-repeat="game in tableGames">
                            <ignore>
                                <span ng-show="game.origin">[bdd]</span> {{game.name}} ({{game.date}})
                                <input class="import" ng-show="(table | exist: game) < 0" type="button" ng-click="addGame(game)" value="associer"/>
                                <img ng-src="{{game.image.thumb_url}}">
                            </ignore>
                        </div>
                        <input type="button" ng-click="forceManualGame()" ng-show="tableGames && import_searchKO == 2" value="Pas dans la liste > passage en manuel"/>
                    </div>
                    <div class="manual" ng-hide="import_searchKO != 3">
                        <p style="margin:10px;" >Aucun résultat > Saisie manuelle :</p>
                        <input class="inputmanuel import" ng-model="manualname" type="text" placeholder='Nom un jeu' />
                        <input class="inputmanuel import" ng-model="manualimage" type="text" placeholder="Url de l'image (large :o)" />

                        <input class="import" type="button" ng-click="addManualGame()" value="associer"/>
                    </div>

                </div>

                <h4 ng-click="validateCR(this)" ng-show="import_step3">Etape 4/4 > Valider le CR</h4>

                <h3>preview du CR</h3>
                <div id="preview" ng-bind-html="cr_preview">

                </div>
            </div>
        </div>

        <script type="text/javascript" src="ui/js/admin/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="ui/js/admin/loading-bar.js"></script>
        <script type="text/javascript" src="ui/js/admin/importcrHelperController.js"></script>
    </true>
    <false>
        <div class="auth_content">
            Accès interdit
        </div>
    </false>
</check>



