<check if="{{ (\Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'true')) ||
    (\Base::instance()->exists('normalLoginCheck') && (@normalLoginCheck == 'true')
                    && \Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'false')
                    && \Base::instance()->exists('checkCrPossession') && (@checkCrPossession == 'true')) }}">
    <true>
        <div id="crotypedia" class="homebox catbox">
            <h2>Édition du CR de {{ @game }} par {{ @cr['username'] }}</h2>

            <form>
                <textarea name="editor1" id="editor1">
                    {{ @cr['content'] | raw }}
                </textarea>
                <script>
                    tinymce.init({
                        selector: "textarea",
                        theme: "modern",
                        language : 'fr_FR',
                        plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern autoresize"
                    ],
                    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image" +
                    " | print preview media | forecolor backcolor emoticons | save",
                    image_advtab: true,
                    save_onsavecallback: function() {console.log("Save");}
                });
                </script>
            </form>
        </div>
    </true>
    <false>
        <div class="auth_content">
            Accès interdit
        </div>
    </false>
</check>




