<div id="crotypedia" class="homebox">
	<h2><a href="{{@ALIASES.crs_list}}">CROTYpedia</a></h2>

	<check if="{{ isset(@game) }}">
		<style>h3.game{{ @game['id'] }} { background-image:url('{{ @game['api_image'] }}');}</style>
		<h3 class="game game{{ @game['id'] }}">{{ @game.name }}</h3>
	</check>

	<ul class="imagelist">
		<repeat group="{{ @list }}" value="{{ @item }}">
			<include href="cr/li.htm" />
		</repeat>
	</ul>

	<check if="{{ isset(@gamesother) && @gamesother }}">
		<h2><a href="{{@ALIASES.crs_list}}">Hors-catégorie</a></h2>
		<br/>
		<ul class="cr_games">
			<repeat group="{{ @gamesother }}" value="{{ @item }}">
				<style>li.game{{ @item['id'] }}:after { background-image:url('{{ @static }}small/{{ @item['api_image'] }}');}</style>
				<li class="game{{ @item['id'] }}">
					<a href="{{@ALIASES.crs_list_by_game}}/{{ @item['id'] }}" title="">{{ @item['name'] }}</a>
				</li>
			</repeat>
		</ul>
		<div class="cleaner"></div>
		<br/>
	</check>



	<check if="{{ isset(@games) }}">
		<h2><a href="{{@ALIASES.crs_list}}">Tous les jeux</a></h2>
		<br/>
		<ul class="cr_games">
			<repeat group="{{ @games }}" value="{{ @item }}">
				<style>li.game{{ @item['id'] }}:after { background-image:url('{{ @static }}small/{{ @item['api_image'] }}');}</style>
				<li class="game{{ @item['id'] }}">
					<a href="{{@ALIASES.crs_list_by_game}}/{{ @item['id'] }}" title="">{{ @item['name'] }}</a>
				</li>
			</repeat>
		</ul>
	</check>

	<div class="cleaner"></div>
	<br/>
</div><!-- #crotypedia -->
