<li class="game{{ @item['id'] }}">
	<a href="{{ @ALIASES.crs_list }}/{{ @item['id'] }}" title="">
		<img src="http://static.thetartuffebay.org/center/30/{{ @item['api_image'] }}">
		<div class="gameinfo">
			<p class="gamename">{{ trim(@item['games']) }} <check if="{{ @item['comment'] }}">&ndash; {{@item['comment']}} </check>

			</p>


			<!--<span class="username">{{ @item['username'] }}</span>-->

			<!-- <span class="date">{{ date('d/m', strtotime(@item['date_posted']) ) }}</span> -->
		</div>

		<span class="format format_{{ toAscii(@item['format']) }} type_{{ toAscii(@item['type']) }}">
			<check if="{{ @item['format'] <> 'Standard' }}">{{ @item['format'] }}</check> {{ @item['type'] }}
		</span>
	</a>
</li>
