<li>
	<a href="{{ @ALIASES.crs_list }}/{{ @item['id'] }}">
		{{ trim(@item['games']) }} <check if="{{ @item['comment'] }}">&ndash; {{@item['comment']}} </check>
	</a>
	<span>par {{ @item['username'] }}</span>
	<span class="format format_{{ toAscii(@item['format']) }} type_{{ toAscii(@item['type']) }}">
		<check if="{{ @item['format'] <> 'Standard' }}">{{ @item['format'] }}</check> {{ @item['type'] }}
	</span>
	<span class="date">{{ date('d/m/y', strtotime(@item['date_posted']) ) }}</span>
</li>
