<style>li.game{{ @item['id'] }} a::after { background-image:url('http://static.thetartuffebay.org/medium/{{ @item['api_image'] }}');}</style>
<li class="game{{ @item['id'] }}">
	<a href="{{@ALIASES.crs_list_by_game}}/{{ @item['id'] }}" title="">
		<p class="gamename">{{ trim(@item['games']) }} <check if="{{ @item['comment'] }}">&ndash; {{@item['comment']}} </check></p>
		<!--<span class="username">{{ @item['username'] }}</span>-->
		<span class="format format_{{ toAscii(@item['format']) }} type_{{ toAscii(@item['type']) }}">
			<check if="{{ @item['format'] <> 'Standard' }}">{{ @item['format'] }}</check> {{ @item['type'] }}
		</span>
		<!-- <span class="date">{{ date('d/m', strtotime(@item['date_posted']) ) }}</span> -->
	</a>
</li>
