<div id="crotypedia" class="homebox catbox">
	<h2><a href="{{@ALIASES.crs_list}}">CROTYpedia</a></h2>

	<check if="{{ isset(@games) }}">
		<repeat group="{{ @games }}" value="{{ @item }}">
			<style>h3.game{{ @item['id'] }} { background-image:url('{{ @static }}large/{{ @item['api_image'] }}');}</style>
			<h3 class="game game{{ @item['id'] }} total{{count(@games)}}">
				{{ @item.name }}
			</h3>
		</repeat>
	</check>

	<include href="cr/view_cr_details.htm" />

	<div class="innercontent">
		{{ @cr['content'] | raw }}
	</div>

	<include href="cr/view_cr_details.htm" />

	<a class="allinks" href="{{@ALIASES.crs_list}}" title="CROTYpedia">tous les CRs &rsaquo;</a>
</div><!-- #crotypedia -->
