<check if="{{ isset(@games) }}">
    <div class="cr_details">
    <span class="games">Jeu<check if="{{count(@games) > 1}}">x</check>
    <repeat group="{{ @games }}" value="{{ @item }}">
        <br/><a href="{{@ALIASES.crs_list_by_game}}/{{ @item['id'] }}" title="">{{ @item['name'] }}</a>
    </repeat>
    </span>
        <span class="username">Par <a href="/user/{{ @cr['username'] }}" title="Profil de {{ @cr['username'] }}">{{
            @cr['username'] }}</a></span>
        <span class="date">Le {{ date('d/m/y', strtotime(@cr['date_posted']) ) }}</span>
        <span class="out_link">
            <a href="http://forum.hardware.fr/forum2.php?config=hfr.inc&amp;cat=5&amp;subcat=249&amp;post=177180&amp;page=1&amp;p=1&amp;sondage=&amp;owntopic=&amp;trash=&amp;trash_post=&amp;print=&amp;numreponse={{@cr['hfr_post_id']}}&amp;quote_only=0&amp;new=0&amp;nojs=0#t{{@cr['hfr_post_id']}}"
                class="date" target="_blank">
                voir sur HFR &rsaquo;</a>
        </span>

        <check if="{{ (\Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'true')) ||
                    (\Base::instance()->exists('normalLoginCheck') && (@normalLoginCheck == 'true')
                    && \Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'false')
                    && \Base::instance()->exists('checkCrPossession') && (@checkCrPossession == 'true')) }}">
            <true>
                <span class="out_link">
                    <a href="{{@ALIASES.crs_list . '/edit/' . @cr['id']}}" class="date">Éditer &rsaquo;</a>
                </span>
            </true>
        </check>
    </div>
</check>

