<check if="{{ (\Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'true')) ||
    (\Base::instance()->exists('normalLoginCheck') && (@normalLoginCheck == 'true')
                    && \Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'false')
                    && \Base::instance()->exists('checkActuPossession') && (@checkActuPossession == 'true')) }}">
    <true>
        <div id="gibbactu" class="homebox">
        <h2><a href="{{@ALIASES.actus_list}}">Édition</a></h2>
            <form>
                <textarea name="editor1" id="editor1">
                    {{ @actu['content'] | raw }}
                </textarea>
                <script>
                    tinymce.init({
                        selector: "textarea",
                        theme: "modern",
                        language : 'fr_FR',
                        plugins: [
                            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                            "searchreplace wordcount visualblocks visualchars code fullscreen",
                            "insertdatetime media nonbreaking save table contextmenu directionality",
                            "emoticons template paste textcolor colorpicker textpattern autoresize"
                        ],
                        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor emoticons",
                        toolbar2: "save cancel | fullscreen preview ",
                        image_advtab: true,
                        save_onsavecallback: function() {

                            var formData = {
                                'content'             : tinymce.get('editor1').getContent(),
                                'actuId'                : "{{ @actu['id'] }}"
                            };

                            console.log(formData);

                            $.ajax({
                                type        : 'POST',
                                url         : '{{@ALIASES.editActu_ajax}}',
                                data        : formData,
                                dataType    : 'json',
                                encode      : true
                            })
                                    .done(function(data) {
                                        if ( !data.success) {
                                            if (data.errors.content) {
                                                $.modal(data.errors.content,
                                                        {   overlayClose : true,
                                                            onShow: function(dlg) {
                                                                $(dlg.container).css('height','auto');
                                                                $(dlg.container).css('width','auto');
                                                                $.modal.setPosition();
                                                            }});
                                            }

                                            if (data.errors.actuId) {
                                                $.modal(data.errors.actuId,
                                                        {   overlayClose : true,
                                                            onShow: function(dlg) {
                                                                $(dlg.container).css('height','auto');
                                                                $(dlg.container).css('width','auto');
                                                                $.modal.setPosition();
                                                            }});
                                            }

                                            if (data.errors.else) {
                                                $.modal(data.errors.else,
                                                        {   overlayClose : true,
                                                            onShow: function(dlg) {
                                                                $(dlg.container).css('height','auto');
                                                                $(dlg.container).css('width','auto');
                                                                $.modal.setPosition();
                                                            }});
                                            }
                                        }
                                        else {
                                            $.modal(data.message,
                                                    {   overlayClose : true,
                                                        onShow: function(dlg) {
                                                            $(dlg.container).css('height','auto');
                                                            $(dlg.container).css('width','auto');
                                                            $.modal.setPosition();
                                                        }});
                                        }
                                    });
                        }
                    });
                </script>
            </form>
        </div>
    </true>
    <false>
        <div class="auth_content">
            Accès interdit
        </div>
    </false>
</check>




