<div id="gibbactu" class="homebox">
	<h2><a href="{{@ALIASES.actus_list}}">Les dernières actus</a></h2>
	<repeat group="{{ @page[subset] }}" value="{{ @item }}">
		<include href="actu/li.htm" />
	</repeat>

	<check if="{{ @page[pos]+1 < @page[count] }}">
		<a class="allinks" href="{{@ALIASES.actus_list}}/{{ @page[pos]+2 }}" title="">plus anciennes &rsaquo;</a>
	</check>

	<check if="{{ @page[pos] > 1 }}">
		<a class="allinks" href="{{@ALIASES.actus_list}}/{{ @page[pos] }}" title="">&lsaquo; plus recentes</a>
	</check>

	<check if="{{ @page[pos] > 0 }}">
		<a class="allinks" href="{{@ALIASES.actus_list}}" title="Gibb'Actu">&lsaquo;&lsaquo; toutes les actus </a>
	</check>

</div><!-- #gibbactu -->
