<div id="gibbactu" class="homebox">
	<h2><a href="{{@ALIASES.actus_list}}">Les dernières actus</a></h2>

    <div class="overflow">
        <div class="datepicker">
            &rsaquo; Voir les gibbactus du <input type="text" id="datepicker">
        </div>

        <check if="{{ @page[pos]+1 < @page[count] }}">
            <a class="allinks" href="{{@ALIASES.actus_list}}/{{ @page[pos]+2 }}" title="">plus anciennes &rsaquo;</a>
        </check>

        <check if="{{ @page[pos] > 1 }}">
            <a class="allinks" href="{{@ALIASES.actus_list}}/{{ @page[pos] }}" title="">&lsaquo; plus recentes</a>
        </check>

        <check if="{{ @page[pos] > 0 }}">
            <a class="allinks" href="{{@ALIASES.actus_list}}" title="Gibb'Actu">&lsaquo;&lsaquo; toutes les actus </a>
        </check>
    </div>

	<repeat group="{{ @page[content] }}" value="{{ @item }}">
		<include href="actu/li.htm" />
	</repeat>

    <div class="overflow">
        <check if="{{ @page[pos]+1 < @page[count] }}">
            <a class="allinks" href="{{@ALIASES.actus_list}}/{{ @page[pos]+2 }}" title="">plus anciennes &rsaquo;</a>
        </check>

        <check if="{{ @page[pos] > 1 }}">
            <a class="allinks" href="{{@ALIASES.actus_list}}/{{ @page[pos] }}" title="">&lsaquo; plus recentes</a>
        </check>

        <check if="{{ @page[pos] > 0 }}">
            <a class="allinks" href="{{@ALIASES.actus_list}}" title="Gibb'Actu">&lsaquo;&lsaquo; toutes les actus </a>
        </check>
    </div>

    <style type = "text/css">
        .ui-datepicker { font-size:0.8em !important}
    </style>
    <script>
        $(function() {
            $.datepicker.regional['fr'] = {
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
                monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin','Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
                dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
                dayNamesMin: ['D','L','M','M','J','V','S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''};
            $.datepicker.setDefaults($.datepicker.regional['fr']);
            $( "#datepicker" ).datepicker();
        });
    </script>

</div><!-- #gibbactu -->
