<div class="account_content sondage">
<h2>Historique des sondages du topic PC</h2><hr>
    <div>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-03-28.PNG"><img alt="/ui/images/sondages/Sondage-2013-03-28.PNG" src="/ui/images/sondages/Sondage-2013-03-28.PNG"></a>
            <figcaption>Sondage du 28/03/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-04-05.PNG"><img alt="/ui/images/sondages/Sondage-2013-04-05.PNG" src="/ui/images/sondages/Sondage-2013-04-05.PNG"></a>
            <figcaption>Sondage du 05/04/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-04-10.PNG"><img alt="/ui/images/sondages/Sondage-2013-04-10.PNG" src="/ui/images/sondages/Sondage-2013-04-10.PNG"></a>
            <figcaption>Sondage du 10/04/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-04-16.PNG"><img alt="/ui/images/sondages/Sondage-2013-04-16.PNG" src="/ui/images/sondages/Sondage-2013-04-16.PNG"></a>
            <figcaption>Sondage du 16/04/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-04-19.PNG"><img alt="/ui/images/sondages/Sondage-2013-04-19.PNG" src="/ui/images/sondages/Sondage-2013-04-19.PNG"></a>
            <figcaption>Sondage du 19/04/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-04-25.PNG"><img alt="/ui/images/sondages/Sondage-2013-04-25.PNG" src="/ui/images/sondages/Sondage-2013-04-25.PNG"></a>
            <figcaption>Sondage du 25/04/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-05-03.PNG"><img alt="/ui/images/sondages/Sondage-2013-05-03.PNG" src="/ui/images/sondages/Sondage-2013-05-03.PNG"></a>
            <figcaption>Sondage du 03/05/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-05-10.PNG"><img alt="/ui/images/sondages/Sondage-2013-05-10.PNG" src="/ui/images/sondages/Sondage-2013-05-10.PNG"></a>
            <figcaption>Sondage du 10/05/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-05-17.PNG"><img alt="/ui/images/sondages/Sondage-2013-05-17.PNG" src="/ui/images/sondages/Sondage-2013-05-17.PNG"></a>
            <figcaption>Sondage du 17/05/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-05-24.PNG"><img alt="/ui/images/sondages/Sondage-2013-05-24.PNG" src="/ui/images/sondages/Sondage-2013-05-24.PNG"></a>
            <figcaption>Sondage du 24/05/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-05-31.PNG"><img alt="/ui/images/sondages/Sondage-2013-05-31.PNG" src="/ui/images/sondages/Sondage-2013-05-31.PNG"></a>
            <figcaption>Sondage du 31/05/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-06-07.PNG"><img alt="/ui/images/sondages/Sondage-2013-06-07.PNG" src="/ui/images/sondages/Sondage-2013-06-07.PNG"></a>
            <figcaption>Sondage du 07/06/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-06-14.PNG"><img alt="/ui/images/sondages/Sondage-2013-06-14.PNG" src="/ui/images/sondages/Sondage-2013-06-14.PNG"></a>
            <figcaption>Sondage du 14/06/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-06-21.PNG"><img alt="/ui/images/sondages/Sondage-2013-06-21.PNG" src="/ui/images/sondages/Sondage-2013-06-21.PNG"></a>
            <figcaption>Sondage du 21/06/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-06-28.PNG"><img alt="/ui/images/sondages/Sondage-2013-06-28.PNG" src="/ui/images/sondages/Sondage-2013-06-28.PNG"></a>
            <figcaption>Sondage du 28/06/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-07-01.PNG"><img alt="/ui/images/sondages/Sondage-2013-07-01.PNG" src="/ui/images/sondages/Sondage-2013-07-01.PNG"></a>
            <figcaption>Sondage du 01/07/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-07-05.PNG"><img alt="/ui/images/sondages/Sondage-2013-07-05.PNG" src="/ui/images/sondages/Sondage-2013-07-05.PNG"></a>
            <figcaption>Sondage du 05/07/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-07-12.PNG"><img alt="/ui/images/sondages/Sondage-2013-07-12.PNG" src="/ui/images/sondages/Sondage-2013-07-12.PNG"></a>
            <figcaption>Sondage du 12/07/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-07-23.PNG"><img alt="/ui/images/sondages/Sondage-2013-07-23.PNG" src="/ui/images/sondages/Sondage-2013-07-23.PNG"></a>
            <figcaption>Sondage du 23/07/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-07-26.PNG"><img alt="/ui/images/sondages/Sondage-2013-07-26.PNG" src="/ui/images/sondages/Sondage-2013-07-26.PNG"></a>
            <figcaption>Sondage du 26/07/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-08-02.PNG"><img alt="/ui/images/sondages/Sondage-2013-08-02.PNG" src="/ui/images/sondages/Sondage-2013-08-02.PNG"></a>
            <figcaption>Sondage du 02/08/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-08-09.PNG"><img alt="/ui/images/sondages/Sondage-2013-08-09.PNG" src="/ui/images/sondages/Sondage-2013-08-09.PNG"></a>
            <figcaption>Sondage du 09/08/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-08-16.PNG"><img alt="/ui/images/sondages/Sondage-2013-08-16.PNG" src="/ui/images/sondages/Sondage-2013-08-16.PNG"></a>
            <figcaption>Sondage du 16/08/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-08-22.PNG"><img alt="/ui/images/sondages/Sondage-2013-08-22.PNG" src="/ui/images/sondages/Sondage-2013-08-22.PNG"></a>
            <figcaption>Sondage du 22/08/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-08-28.PNG"><img alt="/ui/images/sondages/Sondage-2013-08-28.PNG" src="/ui/images/sondages/Sondage-2013-08-28.PNG"></a>
            <figcaption>Sondage du 28/08/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-09-10.png"><img alt="/ui/images/sondages/Sondage-2013-09-10.png" src="/ui/images/sondages/Sondage-2013-09-10.png"></a>
            <figcaption>Sondage du 10/09/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-09-16.png"><img alt="/ui/images/sondages/Sondage-2013-09-16.png" src="/ui/images/sondages/Sondage-2013-09-16.png"></a>
            <figcaption>Sondage du 16/09/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-09-20.png"><img alt="/ui/images/sondages/Sondage-2013-09-20.png" src="/ui/images/sondages/Sondage-2013-09-20.png"></a>
            <figcaption>Sondage du 20/09/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-09-28.png"><img alt="/ui/images/sondages/Sondage-2013-09-28.png" src="/ui/images/sondages/Sondage-2013-09-28.png"></a>
            <figcaption>Sondage du 28/09/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-10-04.png"><img alt="/ui/images/sondages/Sondage-2013-10-04.png" src="/ui/images/sondages/Sondage-2013-10-04.png"></a>
            <figcaption>Sondage du 04/10/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-10-11.png"><img alt="/ui/images/sondages/Sondage-2013-10-11.png" src="/ui/images/sondages/Sondage-2013-10-11.png"></a>
            <figcaption>Sondage du 11/10/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-10-18.png"><img alt="/ui/images/sondages/Sondage-2013-10-18.png" src="/ui/images/sondages/Sondage-2013-10-18.png"></a>
            <figcaption>Sondage du 18/10/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-10-28.png"><img alt="/ui/images/sondages/Sondage-2013-10-28.png" src="/ui/images/sondages/Sondage-2013-10-28.png"></a>
            <figcaption>Sondage du 28/10/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-10-31.png"><img alt="/ui/images/sondages/Sondage-2013-10-31.png" src="/ui/images/sondages/Sondage-2013-10-31.png"></a>
            <figcaption>Sondage du 31/10/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-11-14.png"><img alt="/ui/images/sondages/Sondage-2013-11-14.png" src="/ui/images/sondages/Sondage-2013-11-14.png"></a>
            <figcaption>Sondage du 14/11/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-11-18.png"><img alt="/ui/images/sondages/Sondage-2013-11-18.png" src="/ui/images/sondages/Sondage-2013-11-18.png"></a>
            <figcaption>Sondage du 18/11/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-11-28.png"><img alt="/ui/images/sondages/Sondage-2013-11-28.png" src="/ui/images/sondages/Sondage-2013-11-28.png"></a>
            <figcaption>Sondage du 28/11/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-12-09.png"><img alt="/ui/images/sondages/Sondage-2013-12-09.png" src="/ui/images/sondages/Sondage-2013-12-09.png"></a>
            <figcaption>Sondage du 09/12/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-12-13.png"><img alt="/ui/images/sondages/Sondage-2013-12-13.png" src="/ui/images/sondages/Sondage-2013-12-13.png"></a>
            <figcaption>Sondage du 13/12/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2013-12-31.png"><img alt="/ui/images/sondages/Sondage-2013-12-31.png" src="/ui/images/sondages/Sondage-2013-12-31.png"></a>
            <figcaption>Sondage du 31/12/2013</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-01-03.png"><img alt="/ui/images/sondages/Sondage-2014-01-03.png" src="/ui/images/sondages/Sondage-2014-01-03.png"></a>
            <figcaption>Sondage du 03/01/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-01-13.png"><img alt="/ui/images/sondages/Sondage-2014-01-13.png" src="/ui/images/sondages/Sondage-2014-01-13.png"></a>
            <figcaption>Sondage du 13/01/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-01-21.png"><img alt="/ui/images/sondages/Sondage-2014-01-21.png" src="/ui/images/sondages/Sondage-2014-01-21.png"></a>
            <figcaption>Sondage du 21/01/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-01-28.png"><img alt="/ui/images/sondages/Sondage-2014-01-28.png" src="/ui/images/sondages/Sondage-2014-01-28.png"></a>
            <figcaption>Sondage du 28/01/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-02-07.png"><img alt="/ui/images/sondages/Sondage-2014-02-07.png" src="/ui/images/sondages/Sondage-2014-02-07.png"></a>
            <figcaption>Sondage du 07/02/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-02-21.png"><img alt="/ui/images/sondages/Sondage-2014-02-21.png" src="/ui/images/sondages/Sondage-2014-02-21.png"></a>
            <figcaption>Sondage du 21/02/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-02-28.png"><img alt="/ui/images/sondages/Sondage-2014-02-28.png" src="/ui/images/sondages/Sondage-2014-02-28.png"></a>
            <figcaption>Sondage du 28/02/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-03-07.png"><img alt="/ui/images/sondages/Sondage-2014-03-07.png" src="/ui/images/sondages/Sondage-2014-03-07.png"></a>
            <figcaption>Sondage du 07/03/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-03-18.png"><img alt="/ui/images/sondages/Sondage-2014-03-18.png" src="/ui/images/sondages/Sondage-2014-03-18.png"></a>
            <figcaption>Sondage du 18/03/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-04-01.png"><img alt="/ui/images/sondages/Sondage-2014-04-01.png" src="/ui/images/sondages/Sondage-2014-04-01.png"></a>
            <figcaption>Sondage du 01/04/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-04-04.png"><img alt="/ui/images/sondages/Sondage-2014-04-04.png" src="/ui/images/sondages/Sondage-2014-04-04.png"></a>
            <figcaption>Sondage du 04/04/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-04-11.png"><img alt="/ui/images/sondages/Sondage-2014-04-11.png" src="/ui/images/sondages/Sondage-2014-04-11.png"></a>
            <figcaption>Sondage du 11/04/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-04-23.png"><img alt="/ui/images/sondages/Sondage-2014-04-23.png" src="/ui/images/sondages/Sondage-2014-04-23.png"></a>
            <figcaption>Sondage du 23/04/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-04-28.png"><img alt="/ui/images/sondages/Sondage-2014-04-28.png" src="/ui/images/sondages/Sondage-2014-04-28.png"></a>
            <figcaption>Sondage du 28/04/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-05-07.png"><img alt="/ui/images/sondages/Sondage-2014-05-07.png" src="/ui/images/sondages/Sondage-2014-05-07.png"></a>
            <figcaption>Sondage du 07/05/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-05-12.png"><img alt="/ui/images/sondages/Sondage-2014-05-12.png" src="/ui/images/sondages/Sondage-2014-05-12.png"></a>
            <figcaption>Sondage du 12/05/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-05-16.png"><img alt="/ui/images/sondages/Sondage-2014-05-16.png" src="/ui/images/sondages/Sondage-2014-05-16.png"></a>
            <figcaption>Sondage du 16/05/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-05-23.png"><img alt="/ui/images/sondages/Sondage-2014-05-23.png" src="/ui/images/sondages/Sondage-2014-05-23.png"></a>
            <figcaption>Sondage du 23/05/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-06-04.png"><img alt="/ui/images/sondages/Sondage-2014-06-04.png" src="/ui/images/sondages/Sondage-2014-06-04.png"></a>
            <figcaption>Sondage du 04/06/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-06-13.png"><img alt="/ui/images/sondages/Sondage-2014-06-13.png" src="/ui/images/sondages/Sondage-2014-06-13.png"></a>
            <figcaption>Sondage du 13/06/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-06-18.png"><img alt="/ui/images/sondages/Sondage-2014-06-18.png" src="/ui/images/sondages/Sondage-2014-06-18.png"></a>
            <figcaption>Sondage du 18/06/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-07-07.png"><img alt="/ui/images/sondages/Sondage-2014-07-07.png" src="/ui/images/sondages/Sondage-2014-07-07.png"></a>
            <figcaption>Sondage du 07/07/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-07-21.png"><img alt="/ui/images/sondages/Sondage-2014-07-21.png" src="/ui/images/sondages/Sondage-2014-07-21.png"></a>
            <figcaption>Sondage du 21/07/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-07-31.png"><img alt="/ui/images/sondages/Sondage-2014-07-31.png" src="/ui/images/sondages/Sondage-2014-07-31.png"></a>
            <figcaption>Sondage du 31/07/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-08-22.png"><img alt="/ui/images/sondages/Sondage-2014-08-22.png" src="/ui/images/sondages/Sondage-2014-08-22.png"></a>
            <figcaption>Sondage du 22/08/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-09-15.png"><img alt="/ui/images/sondages/Sondage-2014-09-15.png" src="/ui/images/sondages/Sondage-2014-09-15.png"></a>
            <figcaption>Sondage du 15/09/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-09-23.png"><img alt="/ui/images/sondages/Sondage-2014-09-23.png" src="/ui/images/sondages/Sondage-2014-09-23.png"></a>
            <figcaption>Sondage du 23/09/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-10-01.png"><img alt="/ui/images/sondages/Sondage-2014-10-01.png" src="/ui/images/sondages/Sondage-2014-10-01.png"></a>
            <figcaption>Sondage du 01/10/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-10-09.png"><img alt="/ui/images/sondages/Sondage-2014-10-09.png" src="/ui/images/sondages/Sondage-2014-10-09.png"></a>
            <figcaption>Sondage du 09/10/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-11-03.png"><img alt="/ui/images/sondages/Sondage-2014-11-03.png" src="/ui/images/sondages/Sondage-2014-11-03.png"></a>
            <figcaption>Sondage du 03/11/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-11-14.png"><img alt="/ui/images/sondages/Sondage-2014-11-14.png" src="/ui/images/sondages/Sondage-2014-11-14.png"></a>
            <figcaption>Sondage du 14/11/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2014-12-02.png"><img alt="/ui/images/sondages/Sondage-2014-12-02.png" src="/ui/images/sondages/Sondage-2014-12-02.png"></a>
            <figcaption>Sondage du 02/12/2014</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-01-08.png"><img alt="/ui/images/sondages/Sondage-2015-01-08.png" src="/ui/images/sondages/Sondage-2015-01-08.png"></a>
            <figcaption>Sondage du 08/01/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-01-28.png"><img alt="/ui/images/sondages/Sondage-2015-01-28.png" src="/ui/images/sondages/Sondage-2015-01-28.png"></a>
            <figcaption>Sondage du 28/01/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-02-10.png"><img alt="/ui/images/sondages/Sondage-2015-02-10.png" src="/ui/images/sondages/Sondage-2015-02-10.png"></a>
            <figcaption>Sondage du 10/02/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-02-11.png"><img alt="/ui/images/sondages/Sondage-2015-02-11.png" src="/ui/images/sondages/Sondage-2015-02-11.png"></a>
            <figcaption>Sondage du 11/02/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-02-26.png"><img alt="/ui/images/sondages/Sondage-2015-02-26.png" src="/ui/images/sondages/Sondage-2015-02-26.png"></a>
            <figcaption>Sondage du 26/02/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-03-18.png"><img alt="/ui/images/sondages/Sondage-2015-03-18.png" src="/ui/images/sondages/Sondage-2015-03-18.png"></a>
            <figcaption>Sondage du 18/03/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-03-31.png"><img alt="/ui/images/sondages/Sondage-2015-03-31.png" src="/ui/images/sondages/Sondage-2015-03-31.png"></a>
            <figcaption>Sondage du 31/03/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-04-15.png"><img alt="/ui/images/sondages/Sondage-2015-04-15.png" src="/ui/images/sondages/Sondage-2015-04-15.png"></a>
            <figcaption>Sondage du 15/04/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-05-11.png"><img alt="/ui/images/sondages/Sondage-2015-05-11.png" src="/ui/images/sondages/Sondage-2015-05-11.png"></a>
            <figcaption>Sondage du 11/05/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-05-28.png"><img alt="/ui/images/sondages/Sondage-2015-05-28.png" src="/ui/images/sondages/Sondage-2015-05-28.png"></a>
            <figcaption>Sondage du 28/05/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-06-02.png"><img alt="/ui/images/sondages/Sondage-2015-06-02.png" src="/ui/images/sondages/Sondage-2015-06-02.png"></a>
            <figcaption>Sondage du 02/06/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-06-25.png"><img alt="/ui/images/sondages/Sondage-2015-06-25.png" src="/ui/images/sondages/Sondage-2015-06-25.png"></a>
            <figcaption>Sondage du 25/06/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-07-09.png"><img alt="/ui/images/sondages/Sondage-2015-07-09.png" src="/ui/images/sondages/Sondage-2015-07-09.png"></a>
            <figcaption>Sondage du 09/07/2015</figcaption>
        </figure>
        <figure>
            <a class="test-popup-link" target="_blank" href="/ui/images/sondages/Sondage-2015-07-31.png"><img alt="/ui/images/sondages/Sondage-2015-07-31.png" src="/ui/images/sondages/Sondage-2015-07-31.png"></a>
            <figcaption>Sondage du 31/07/2015</figcaption>
        </figure>
    </div>
</div>