<div class="auth_content">
    Abonnez-vous à l'agenda : <a target="_blank" href="https://www.google.com/calendar/ical/ddbhu19gfu40seliu5torjfe8g%40group.calendar.google.com/public/basic.ics"><img src="/ui/images/ical.gif"></a> <a target="_blank" href="https://www.google.com/calendar/feeds/ddbhu19gfu40seliu5torjfe8g%40group.calendar.google.com/public/basic"><img src="/ui/images/xml.gif"></a>
    <br>
    <br>
    <iframe src="https://www.google.com/calendar/embed?title=Calendrier%20des%20streams%20de%20HFR%20TV&amp;height=600&amp;wkst=2&amp;hl=fr&amp;bgcolor=%23eeeeee&amp;src=ddbhu19gfu40seliu5torjfe8g%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FParis" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    <button class="pure-button" id="add" type="button">Ajouter un stream</button>
    <button class="pure-button" id="delete" type="button">Supprimer un stream</button>

    <div id="dialog-form" title="Ajouter un stream">

        <form>
            <fieldset class="fieldset">
                <label for="name">Streamer :</label>
                <select name="name" id="name" class="overflow2">
                    <repeat group="{{ @streamers }}" value="{{ @item }}">
                        <option>{{ @item['username'] }}</option>
                    </repeat>
                    <option>Autre</option>
                </select>
                <input type="text" name="nameother" id="nameother"  class="text ui-widget-content ui-corner-all">
                <label for="game">Jeu :</label>
                <input type="text" name="game" id="game"  class="text ui-widget-content ui-corner-all">
                <label for="day">Jour :</label>
                <input type="text" id="day" name="day" class="datepicker2">
                <label for="hourStart">Heure de début :</label>
                <input type="text" id="hourStart" name="hourStart" class="datepicker2">
                <label for="hourEnd">Heure de fin :</label>
                <input type="text" id="hourEnd" name="hourEnd" class="datepicker2">

            </fieldset>
        </form>
    </div>

    <div id="dialog-form2" title="Supprimer un stream">

        <form>
            <fieldset class="fieldset">
                <label for="events">Stream :</label>
                <select name="events" id="events" class="overflow2">
                    <repeat group="{{ @events }}" value="{{ @item }}">
                        <option value="{{@item['google_event_id']}}">{{ @item['streamer'] }} - {{ @item['date'] }}</option>
                    </repeat>
                </select>
            </fieldset>
        </form>
    </div>
    <style type = "text/css">
        .ui-widget {
            font-size:0.8em !important; text-align: justify;
            overflow: visible;
        }
        .fieldset {
            border: 0px none;
        }
        label, input { display:block;
        }
        input.text {
            margin-bottom:12px; width:95%; padding: .4em;
        }
        select {
            width:278px; padding: .4em;
        }
        #name-button {
            margin-bottom: 12px;
        }
        .overflow2 {
            height: 100px !important;
        }
        .datepicker2 {
            margin-bottom:12px; width:95%;
            padding: 0.5em 0.6em;
            display: inline-block;
            border: 1px solid #AAA;
            border-radius: 4px;
            vertical-align: baseline;
            box-sizing: border-box;
            line-height: normal;
            color: inherit;
            font: inherit;
        }
        #nameother { display: none;}
    </style>
    <script>
        $(function() {
            var dialog, form;

            function addEvent() {

                var name = "";
                var selected = $( "#name option:selected" ).text();

                if ( selected != "Autre") {
                    name =  selected;
                } else {
                    name = $('input[name=nameother]').val();
                }

                var formData = {
                    'name'             : name,
                    'game'             : $('input[name=game]').val(),
                    'day'             : $('input[name=day]').val(),
                    'hourStart'             : $('input[name=hourStart]').val(),
                    'hourEnd'             : $('input[name=hourEnd]').val()
                };

                $.ajax({
                    type        : 'POST',
                    url         : '{{@ALIASES.addStreamAjax}}',
                    data        : formData,
                    dataType    : 'json',
                    encode      : true
                })

                .done(function(data) {
                    if ( !data.success) {
                        if (data.errors.name) {
                            $.modal(data.errors.name,
                                    {   overlayClose : true,
                                        onShow: function(dlg) {
                                            $(dlg.container).css('height','auto');
                                            $(dlg.container).css('width','auto');
                                            $.modal.setPosition();
                                        }});
                        }

                        if (data.errors.game) {
                            $.modal(data.errors.game,
                                    {   overlayClose : true,
                                        onShow: function(dlg) {
                                            $(dlg.container).css('height','auto');
                                            $(dlg.container).css('width','auto');
                                            $.modal.setPosition();
                                        }});
                        }

                        if (data.errors.day) {
                            $.modal(data.errors.day,
                                    {   overlayClose : true,
                                        onShow: function(dlg) {
                                            $(dlg.container).css('height','auto');
                                            $(dlg.container).css('width','auto');
                                            $.modal.setPosition();
                                        }});
                        }

                        if (data.errors.hourStart) {
                            $.modal(data.errors.hourStart,
                                    {   overlayClose : true,
                                        onShow: function(dlg) {
                                            $(dlg.container).css('height','auto');
                                            $(dlg.container).css('width','auto');
                                            $.modal.setPosition();
                                        }});
                        }

                        if (data.errors.hourEnd) {
                            $.modal(data.errors.hourEnd,
                                    {   overlayClose : true,
                                        onShow: function(dlg) {
                                            $(dlg.container).css('height','auto');
                                            $(dlg.container).css('width','auto');
                                            $.modal.setPosition();
                                        }});
                        }

                        if (data.errors.else) {
                            $.modal(data.errors.else,
                                    {   overlayClose : true,
                                        onShow: function(dlg) {
                                            $(dlg.container).css('height','auto');
                                            $(dlg.container).css('width','auto');
                                            $.modal.setPosition();
                                        }});
                        }
                    }
                    else {
                        window.location.replace('{{@ALIASES.agenda}}');
                    }
                });
            }

            function deleteEvent() {

                var selected = $( "#events option:selected" ).val();

                var formData = {
                    'id'             : selected
                };

                $.ajax({
                    type        : 'POST',
                    url         : '{{@ALIASES.deleteStreamAjax}}',
                    data        : formData,
                    dataType    : 'json',
                    encode      : true
                })

                        .done(function(data) {
                            if ( !data.success) {
                                if (data.errors.id) {
                                    $.modal(data.errors.id,
                                            {   overlayClose : true,
                                                onShow: function(dlg) {
                                                    $(dlg.container).css('height','auto');
                                                    $(dlg.container).css('width','auto');
                                                    $.modal.setPosition();
                                                }});
                                }

                                if (data.errors.else) {
                                    $.modal(data.errors.else,
                                            {   overlayClose : true,
                                                onShow: function(dlg) {
                                                    $(dlg.container).css('height','auto');
                                                    $(dlg.container).css('width','auto');
                                                    $.modal.setPosition();
                                                }});
                                }
                            }
                            else {
                                window.location.replace('{{@ALIASES.agenda}}');
                            }
                        });
            }

            dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 490,
                width: 350,
                modal: true,
                buttons: {
                    "Enregistrer": addEvent,
                    "Fermer": function() {
                        dialog.dialog( "close" );
                    }
                }
            });

            dialog2 = $( "#dialog-form2" ).dialog({
                autoOpen: false,
                height: 180,
                width: 350,
                modal: true,
                buttons: {
                    "Supprimer": deleteEvent,
                    "Fermer": function() {
                        dialog.dialog( "close" );
                    }
                }
            });

            $( "#name" ).selectmenu({
                select: function( event, ui ) {
                    if (ui.item.value == "Autre") {
                        document.getElementById("nameother").style.display = 'block';
                    } else {
                        document.getElementById("nameother").style.display = 'none';
                    }
                }
            });

            $( "#events" ).selectmenu();

            $.datepicker.regional['fr'] = {
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
                monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin','Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
                dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
                dayNamesMin: ['D','L','M','M','J','V','S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''};

            $.datepicker.setDefaults($.datepicker.regional['fr']);

            $.timepicker.regional['fr'] = {
                timeOnlyTitle: 'Choisir une heure',
                timeText: 'Heure',
                hourText: 'Heures',
                minuteText: 'Minutes',
                secondText: 'Secondes',
                millisecText: 'Millisecondes',
                timezoneText: 'Fuseau horaire',
                currentText: 'Maintenant',
                closeText: 'OK',
                timeFormat: 'HH:mm',
                amNames: ['AM', 'A'],
                pmNames: ['PM', 'P'],
                ampm: false
            };
            $.timepicker.setDefaults($.timepicker.regional['fr']);

            $( "#day" ).datepicker();

            $('#hourStart').timepicker();
            $('#hourEnd').timepicker();

            $( "#add" ).button().on( "click", function() {
                dialog.dialog( "open" );
            });

            $( "#delete" ).button().on( "click", function() {
                dialog2.dialog( "open" );
            });
        });
    </script>
</div>