<div class="auth_content">
    Abonnez-vous à l'agenda : <a target="_blank" href="https://www.google.com/calendar/ical/ddbhu19gfu40seliu5torjfe8g%40group.calendar.google.com/public/basic.ics"><img src="/ui/images/ical.gif"></a> <a target="_blank" href="https://www.google.com/calendar/feeds/ddbhu19gfu40seliu5torjfe8g%40group.calendar.google.com/public/basic"><img src="/ui/images/xml.gif"></a>
    <br>
    <br>
    <iframe src="https://www.google.com/calendar/embed?title=Calendrier%20des%20streams%20de%20HFR%20TV&amp;height=600&amp;wkst=2&amp;hl=fr&amp;bgcolor=%23eeeeee&amp;src=ddbhu19gfu40seliu5torjfe8g%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FParis" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    <button class="pure-button" id="add" type="button">Ajouter un stream</button>
    <button class="pure-button" type="button">Modifier un stream</button>
    <button class="pure-button" type="button">Supprimer un stream</button>

    <div id="dialog-form" title="Create new user">
        <p class="validateTips">All form fields are required.</p>

        <form>
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
    <script>
        $(function() {
            var dialog, form,

            dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true
    /*            buttons: {
                    "Create an account": addUser,
                    Cancel: function() {
                        dialog.dialog( "close" );
                    }
                },
                close: function() {
                    form[ 0 ].reset();
                    allFields.removeClass( "ui-state-error" );
                }*/
            });

            $( "#add" ).button().on( "click", function() {
                dialog.dialog( "open" );
            });
        });
    </script>
</div>