<div id="hfrtv" class="homebox">

    <h2><a href="https://www.youtube.com/user/HFRTVTwitch/featured" target="_blank">Les dernières vidéos d'HFR.tv </a></h2>

    <div id="youmax">
    </div>

    <div class="cleaner"></div>
    <br/>

    <h2><a href="{{@ALIASES.streams_list}}">Les membres d'HFR.tv</a></h2>
    <ul class="cr_games">
        <repeat group="{{ @streams }}" value="{{ @item }}">
            <include href="stream/li.htm" />
        </repeat>
    </ul>

    <script type="text/javascript">
        $("#youmax").youmax({apiKey:"{{@apiKey}}",clientId:"{{@clientId}}",channel:"https://www.youtube.com/user/HFRTVTwitch",playList:[],searchTab:[],selectedTab:"u",displayVideo:"popup",alwaysUseDropdown:false,autoPlayVideo:true,displayFirstVideoOnLoad:false,skin:"none",searchBoxScope:"channel",linkNewPages:false,autoLoadComments:false,featuredVideo:"",maxResults:12,innerOffset:40,outerOffset:40,minItemWidth:250,maxItemWidth:400,maxContainerWidth:1020});
    </script>

</div><!-- #hfrtv -->
