<check if="{{ (\Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'true')) }}">
    <true>
        <div id='cssmenu'>
            <ul>
                <li><a href='{{@ALIASES.account}}'>Mon compte</a></li>
                <li ><a href='{{@ALIASES.accountCR}}'>Mes CRs</a></li>
                <li><a href='{{@ALIASES.accountActu}}'>Mes dernières actus</a></li>
                <li><a href='{{@ALIASES.importcr}}'>Importer un CR</a></li>
                <li><a href='{{@ALIASES.manageUser}}'>Gestion des utilisateurs</a></li>
                <li class='active'><a href='{{@ALIASES.addUser}}'>Ajouter un utilisateur</a></li>
            </ul>
        </div>
        <div class="account_content">
            <form id="addUserForm" class="pure-form pure-form-aligned">
                <fieldset>
                    <legend><b>Ajout d'un utilisateur</b></legend>
                    <div class="pure-control-group">
                        <label for="hfr_user_id">HFR User Id</label>
                        <input id="hfr_user_id" name="hfr_user_id" type="text" placeholder="">
                    </div>

                    <div class="pure-control-group">
                        <label for="username">Identifiant</label>
                        <input id="username" name="username" type="text" placeholder="">
                    </div>

                    <div class="pure-control-group">
                        <label for="email">Adresse e-mail</label>
                        <input id="email" name="email" type="email" placeholder="">
                    </div>
                    <button type="submit" id="submit" class="pure-button pure-button-primary broken-ajax">Enregistrer</button>
                </fieldset>
            </form>
        </div>
        <script>
            $(document).ready(function() {
                // process the form
                $('#addUserForm').submit(function(event) {

                    var formData = {
                        'hfr_user_id'       : $('input[name=hfr_user_id]').val(),
                        'username'          : $('input[name=username]').val(),
                        'email'             : $('input[name=email]').val()
                    };

                    $.ajax({
                        type        : 'POST',
                        url         : '{{@ALIASES.addUser_ajax}}',
                        data        : formData,
                        dataType    : 'json',
                        encode      : true
                    })
                            .done(function(data) {
                                if ( !data.success) {
                                    if (data.errors.hfr_user_id) {
                                        $.modal(data.errors.hfr_user_id,
                                                {   overlayClose : true,
                                                    onShow: function(dlg) {
                                                        $(dlg.container).css('height','auto');
                                                        $(dlg.container).css('width','auto');
                                                        $.modal.setPosition();
                                                    }});
                                    }

                                    if (data.errors.username) {
                                        $.modal(data.errors.username,
                                                {   overlayClose : true,
                                                    onShow: function(dlg) {
                                                        $(dlg.container).css('height','auto');
                                                        $(dlg.container).css('width','auto');
                                                        $.modal.setPosition();
                                                    }});
                                    }

                                    if (data.errors.email) {
                                        $.modal(data.errors.email,
                                                {   overlayClose : true,
                                                    onShow: function(dlg) {
                                                        $(dlg.container).css('height','auto');
                                                        $(dlg.container).css('width','auto');
                                                        $.modal.setPosition();
                                                    }});
                                    }

                                    if (data.errors.else) {
                                        $.modal(data.errors.else,
                                                {   overlayClose : true,
                                                    onShow: function(dlg) {
                                                        $(dlg.container).css('height','auto');
                                                        $(dlg.container).css('width','auto');
                                                        $.modal.setPosition();
                                                    }});
                                    }
                                }
                                else {
                                    $.modal(data.message,
                                            {   overlayClose : true,
                                                onShow: function(dlg) {
                                                    $(dlg.container).css('height','auto');
                                                    $(dlg.container).css('width','auto');
                                                    $.modal.setPosition();
                                                }});
                                }
                            });

                    event.preventDefault();
                });
            });
        </script>
    </true>
    <false>
        <div class="auth_content">
            Accès interdit
        </div>
    </false>
</check>