<div class="auth_content">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <legend><b>Se connecter</b></legend>

            <div class="pure-control-group2">
                <label for="email">Adresse e-mail</label>
                <input id="email" name="email" type="email" placeholder="Adresse e-mail" autofocus="true">
            </div>

            <div class="pure-control-group2">
                <label for="password">Mot de passe</label>
                <input id="password" name="password" type="password" placeholder="Mot de passe">
            </div>

            <button type="submit" id="submit" class="pure-button pure-button-primary broken-ajax">Connexion</button>
        </fieldset>
    </form>

    <br>
    <a href="{{@ALIASES.reset}}" class="auth">Mot de passe oublié ?</a>

    <br>
    <br>
    <br>

    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend><b>S'inscrire</b></legend>
            <p>Afin d'assurer l'unicité des comptes entre les sites <b>TheTartuffeBay.org</b> et <b>Hardware.fr</b>, l'inscription se fait en m'envoyant un <b><a class="auth" href="http://forum.hardware.fr/hfr/profil-929138.htm">message privé</a></b> depuis le forum en me précisant votre adresse mail. Le mot de passe du compte sera envoyé à cette adresse, il peut être modifié par la suite.</p>
        </fieldset>
    </form>

    <script>
        $(document).ready(function() {
            // process the form
            $('form').submit(function(event) {

                var formData = {
                    'email'             : $('input[name=email]').val(),
                    'password'          : hex_sha512($('input[name=password]').val())
                };

                $.ajax({
                    type        : 'POST',
                    url         : '{{@ALIASES.login}}',
                    data        : formData,
                    dataType    : 'json',
                    encode      : true
                })
                    .done(function(data) {
                            if ( !data.success) {
                                if (data.errors.email) {
                                    $.modal(data.errors.email,
                                            {   overlayClose : true,
                                                onShow: function(dlg) {
                                                    $(dlg.container).css('height','auto');
                                                    $(dlg.container).css('width','auto');
                                                    $.modal.setPosition();
                                                }});
                                }

                                if (data.errors.password) {
                                    $.modal(data.errors.password,
                                            {   overlayClose : true,
                                                onShow: function(dlg) {
                                                    $(dlg.container).css('height','auto');
                                                    $(dlg.container).css('width','auto');
                                                    $.modal.setPosition();
                                                }});
                                }

                                if (data.errors.else) {
                                    $.modal(data.errors.else,
                                            {   overlayClose : true,
                                                onShow: function(dlg) {
                                                    $(dlg.container).css('height','auto');
                                                    $(dlg.container).css('width','auto');
                                                    $.modal.setPosition();
                                                }});
                                }
                            }
                            else {
                                window.location.replace('{{@ALIASES.account}}');
                            }
                    });
                event.preventDefault();
            });
        });
    </script>
</div>