<check if="{{ \Base::instance()->exists('normalLoginCheck') && (@normalLoginCheck == 'true') }}">
    <true>
        <div id='cssmenu'>
            <ul>
                <li><a href='{{@ALIASES.account}}'>Mon compte</a></li>
                <li class='active'><a href='{{@ALIASES.accountCR}}'>Mes CRs</a></li>
                <li><a href='{{@ALIASES.accountActu}}'>Mes dernières actus</a></li>
                <check if="{{ \Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'true') }}">
                    <true>
                        <li><a href='{{@ALIASES.accountActu}}'>Importer un CR</a></li>
                        <li><a href='{{@ALIASES.accountActu}}'>Gestion des utilisateurs</a></li>
                        <li><a href='{{@ALIASES.accountActu}}'>Ajouter un utilisateur</a></li>
                    </true>
                </check>
            </ul>
        </div>
        <div class="account_content">
            <div id="crotypedia" class="homebox profilbox">
                <ul class="imagelist">
                    <repeat group="{{ @list_cr }}" value="{{ @item }}">
                        <include href="cr/li.htm" />
                    </repeat>
                </ul>
            </div>
        </div>
    </true>
    <false>
        <div class="auth_content">
            Accès interdit
        </div>
    </false>
</check>