<check if="{{ \Base::instance()->exists('normalLoginCheck') && (@normalLoginCheck == 'true') }}">
    <true>
        <div id='cssmenu'>
            <ul>
                <li><a href='{{@ALIASES.account}}'>Mon compte</a></li>
                <li><a href='{{@ALIASES.accountCR}}'>Mes CRs</a></li>
                <li class='active'><a href='{{@ALIASES.accountActu}}'>Mes dernières actus</a></li>
                <check if="{{ \Base::instance()->exists('adminLoginCheck') && (@adminLoginCheck == 'true') }}">
                    <true>
                        <li><a href='{{@ALIASES.importcr}}'>Importer un CR</a></li>
                        <li><a href='{{@ALIASES.manageUser}}'>Gestion des utilisateurs</a></li>
                        <li><a href='{{@ALIASES.addUser}}'>Ajouter un utilisateur</a></li>
                    </true>
                </check>
            </ul>
        </div>
        <div class="account_content">
            <div id="gibbactu" class="homebox">
                <repeat group="{{ @actus }}" value="{{ @item }}">
                    <include href="actu/li.htm" />
                </repeat>
            </div>
        </div>
    </true>
    <false>
        <div class="auth_content">
            Accès interdit
        </div>
    </false>
</check>