<div class="auth_content">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend><b>Réinitialiser le mot de passe</b></legend>
            <p>Un nouveau mot de passe vous sera envoyé par email.</p>
            <br>

            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="Email" autofocus="true">

            <button type="submit" id="submit" class="pure-button pure-button-primary broken-ajax">Réinitialiser</button>
        </fieldset>
    </form>

    <script>
        $(document).ready(function() {
            // process the form
            $('form').submit(function(event) {

                var formData = {
                    'email'             : $('input[name=email]').val()
                };

                $.ajax({
                    type        : 'POST',
                    url         : '{{@ALIASES.reset_ajax}}',
                    data        : formData,
                    dataType    : 'json',
                    encode      : true
                })
                    .done(function(data) {
                            if ( !data.success) {
                                if (data.errors.email) {
                                    $.modal(data.errors.email,
                                            {   overlayClose : true,
                                                onShow: function(dlg) {
                                                    $(dlg.container).css('height','auto');
                                                    $(dlg.container).css('width','auto');
                                                    $.modal.setPosition();
                                                }});
                                }

                                if (data.errors.else) {
                                    $.modal(data.errors.else,
                                            {   overlayClose : true,
                                                onShow: function(dlg) {
                                                    $(dlg.container).css('height','auto');
                                                    $(dlg.container).css('width','auto');
                                                    $.modal.setPosition();
                                                }});
                                }
                            }
                            else {
                                $.modal(data.message,
                                        {   overlayClose : true,
                                            onShow: function(dlg) {
                                                $(dlg.container).css('height','auto');
                                                $(dlg.container).css('width','auto');
                                                $.modal.setPosition();
                                            }});
                            }
                    });
                event.preventDefault();
            });
        });
    </script>
</div>