<div class="account_content podcast">
<h2>Les podcasts made in TheTartuffeBay</h2><hr>
    <div>
        Retrouvez ici l'actualité des jeux vidéos PC avec l'équipe des tartuffes, ainsi que les annonces des jeux switch 6 ans en avance !

        <h3>Dernier épisode</h3><hr>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_1.json"></script>
        <br/>
        <h3>Pour nous retrouver sur vos applications favorites</h3><hr><br/>
        <a style="background: transparent url(/ui/images/flux-rss.png) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="/podcast/podcast_TTB.xml">RSS du podcast</a>
        <br/><br/>
        <a style="background: transparent url(/ui/images/flux-rss.png) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="/podcast/podcast_TTB.opml">Fichier OPML</a>
        <br/><br/>
        Retrouvez nous également très bientôt sur iTunes, Google Podcast et Google Assistant
        <br/>
        <h3>Anciens épisodes</h3><hr><br/>
    </div>
</div>