<div class="account_content podcast">
<h2>Les podcasts made in TheTartuffeBay</h2><hr>
    <div>
        Retrouvez ici l'actualité des jeux vidéos PC avec l'équipe des tartuffes, ainsi que les annonces des jeux switch 6 ans en avance !

        <h3>Dernier épisode</h3><hr>
        <img src="/ui/images/Podcast_Live_S04E02_1440.jpg">
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_S04E02.json"></script>
        <br/>
        <h3>Pour nous retrouver sur vos applications favorites</h3><hr><br/>
        <a style="background: transparent url(/ui/images/icon-googlepodcasts.svg) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="https://www.google.com/podcasts?feed=aHR0cDovL3d3dy50aGV0YXJ0dWZmZWJheS5vcmcvcG9kY2FzdC9wb2RjYXN0X1RUQi54bWw%3D">Google Podcast</a>
        <br/><br/>
        <a style="background: transparent url(/ui/images/spotify.png) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="https://open.spotify.com/show/4mQPZ7wbeEgOAGivdmtea0?si=1ATvC4BAQSy-Sg2zeDwcPA">Spotify</a>
        <br/><br/>
        <a style="background: transparent url(/ui/images/deezer.png) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="https://www.deezer.com/fr/show/530362">Deezer</a>
        <br/><br/>
        <a style="background: transparent url(/ui/images/itunes.png) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="https://itunes.apple.com/fr/podcast/le-podcast-des-tartuffes/id1434965085?l=fr">iTunes</a>
        <br/><br/>
        <a style="background: transparent url(/ui/images/youtube.png) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="https://www.youtube.com/c/LesTartuffesTV">YouTube</a>
        <br/><br/>
        <a style="background: transparent url(/ui/images/flux-rss.png) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="/podcast/podcast_TTB.xml">RSS du podcast</a>
        <br/><br/>
        <a style="background: transparent url(/ui/images/flux-rss.png) no-repeat left center; background-size: contain; padding-left: 40px; list-style-type: none; font-weight: normal" href="/podcast/podcast_TTB.opml">Fichier OPML</a>
        <br/><br/>
        <h3>Anciens épisodes</h3><hr><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_S04E01.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Ta_Mere_l'Input_3.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_S03E01.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_S02E04.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Du_poil_sous_les_excels_1.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Ta_Mere_l'Input_2.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_S02E03.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_S02E03_After.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_HS03.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Ta_Mere_l'Input_1.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_S02E02.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_S02E01.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_HS01.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_HS02.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_10.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_9.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_8.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_7.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_6.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_5.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_4.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_3.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_2.json"></script><br/><br/>
        <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://www.thetartuffebay.org/podcast/Les_Tartuffes_1.json"></script>
    </div>
</div>
