<div id="crotypedia" class="homebox profilbox">
  <check if="{{ !@list_cr }}">
    <h2><a href="#stream">{{@PARAMS.name}} n'a publié aucun CR :(</a></h2>
  </check>
  <check if="{{ @list_cr }}">
    <h2><a href="#cr">Les CRs de {{@PARAMS.name}}</a></h2>

    <ul class="imagelist">
      <repeat group="{{ @list_cr }}" value="{{ @item }}">
        <include href="cr/li.htm" />
      </repeat>
    </ul>
  </check>

  <check if="{{ !@list_cr }}">
    <a class="allinks" href="{{@ALIASES.crs_list}}" title="CROTYpedia">voir tous les CRs &rsaquo;</a>
  </check>
  <check if="{{ @list_cr }}">
    <a class="allinks" href="{{@ALIASES.crs_list}}" title="CROTYpedia">tous les autres CRs &rsaquo;</a>
  </check>

</div><!-- #crotypedia -->

<check if="{{ !@streamer }}">
    <div id="hfrtv" class="contour homebox profilbox">
        <h2><a href="{{@ALIASES.streams_list}}">{{@PARAMS.name}} ne streame pas... encore ?!</a></h2>
        <a class="allinks" href="{{@ALIASES.streams_list}}" title="Tartuffes TV">voir tous les streams &rsaquo;</a>
    </div>
</check>
<check if="{{ @streamer }}">
    <ul class="name">
        <include href="stream/profil.html" />
        <a class="allinks" href="{{@ALIASES.streams_list}}" title="Tartuffes TV">tous les autres streams &rsaquo;</a>
    </ul>
</check>
<!-- #hfrtv -->
