.gibbactu h2, #gibbactu h2 {
	background:  rgb(3, 37, 74)  url(/ui/images/gibbactu.jpg) no-repeat center left;
	background-size: contain;

    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


.gibbactus:nth-child(2n+1) {
	//background: pink;
}

#gibbactu {
    h2 {
		margin-bottom:5px;
		
		a {
	        color: #ccff33;
	        text-decoration:none;
	        display: block;
	        padding-left:65px;
		}
    }

    .gibbactus {
        text-align: justify;
		//background:white;
		//border:1px solid rgb(3, 37, 74);
		//margin-bottom:10px;
		position:relative;
		padding-top: 25px;

        p {
            margin:10px 0;
        }
        ul {
            border:none;
            padding: 10px;
			margin: 0 15px;
            list-style-type: disc;
        }

        li {
          //margin-bottom:15px;
        }

        a
        {
			color:rgb(3, 37, 74);
         	font-weight:bold;
			padding:0 3px;
        }

        .container, .container p {
          padding:0;
          margin:0 0 5px 0;
        }

		.s1, .s1Topic {
			display:none;
        }

        a:hover {
          color:#ccff33;
          background-color:rgba(3, 37, 74, 1);
          text-decoration:none;
        }

        a.date {
			padding:5px;
            font-size:15px;

            text-align:center;
            position: absolute;
			right:0;
			top:0;
            font-weight: normal;
			//display:block;

			color:#ccff33;
			background-color:rgba(3, 37, 74, 1);
			text-decoration:none;

			* {
				vertical-align:middle;
			}
        }

    }


}

.gibbactus  img[onload] {
	display:block;
	width:100%;
	margin:5px auto !important;
}
