*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  border: 0; }

ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

.overflow {
  overflow: hidden; }

.link_header a {
  color: white;
  text-decoration: none; }
.link_header a:hover {
  text-decoration: underline; }

body {
  font: 100% "PT Sans", Helvetica, Arial, sans-serif;
  background: #F1F1F1; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  background-color: #262626;
  z-index: -3; }

#menu {
  width: 250px;
  background: #262626;
  color: white;
  float: left; }
  #menu #title {
    color: white;
    text-decoration: none;
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    display: block; }
  #menu h3 {
    margin: 0;
    font-size: 1em;
    padding: 0 10px; }
  #menu #toolbar_up {
    padding: 10px; }
    #menu #toolbar_up .rss {
      height: 30px;
      line-height: 30px;
      background: transparent url(/ui/images/1418066385_rss.png) no-repeat right center;
      background-size: contain;
      padding-left: 0px; }
  #menu blockquote {
    display: none; }
  #menu .categories {
    margin: 10px 0; }
    #menu .categories li a {
      display: block;
      padding: 0 10px;
      height: 40px;
      line-height: 40px;
      padding-left: 30px;
      background: transparent url(/ui/images/1418066385_rss.png) no-repeat right 10px center;
      background-size: 30px;
      text-decoration: none;
      border-right: 10px solid green; }
    #menu .categories li.mods a {
      background: none;
      border-color: #3F4C6C; }
      #menu .categories li.mods a:hover {
        background-color: #3F4C6C; }
    #menu .categories li.account a {
      background-image: none;
      border-color: #B02C2B; }
      #menu .categories li.account a:hover {
        color: white;
        background-color: #B02C2B;
        background-image: none; }
    #menu .categories li.gibbactu a {
      background-image: none;
      border-color: #03254a; }
      #menu .categories li.gibbactu a:hover {
        color: #ccff33;
        background-color: #03254a;
        background-image: url(/ui/images/gibbactu.jpg); }
    #menu .categories li.hfrtv a {
      background-image: none;
      border-color: #6441a5; }
      #menu .categories li.hfrtv a:hover {
        color: white;
        background-color: #6441a5;
        background-image: url(/ui/images/hfrtv.png); }
    #menu .categories li.crotypedia a {
      background-image: none;
      border-color: white; }
      #menu .categories li.crotypedia a:hover {
        color: #000;
        background-color: white;
        background-image: url(/ui/images/crotypedia.png); }
    #menu .categories li.home a {
      background-image: none;
      border-color: #EEEEEE; }
      #menu .categories li.home a:hover, #menu .categories li.home a.selected {
        color: black;
        background-color: #EEEEEE;
        background-image: url(/favicon.ico);
        background-size: auto; }
    #menu .categories li.tupc a {
      background: none;
      border-color: #f18f18; }
      #menu .categories li.tupc a:hover {
        color: #FFF;
        background-color: #f18f18;
        background-image: none; }

#content {
  width: calc(100% - 250px);
  float: left; }
  #content #search_box {
    padding: 10px 10px 0 10px; }
    #content #search_box input {
      width: 100%;
      padding: 10px;
      font-size: 20px; }

#real_content {
  width: 70%;
  float: left; }
  #real_content img {
    max-width: 90%; }
  #real_content #gibbactu {
    margin: 5px; }
  #real_content .gibbactus {
    background: white;
    border: 1px solid lightgrey;
    margin: 5px;
    padding: 5px;
    width: calc(50% - 10px); }
  @media screen and (max-width: 1000px) {
    #real_content .gibbactus {
      width: calc(100% - 10px); } }
  @media screen and (min-width: 1980px) {
    #real_content .gibbactus {
      width: calc(33% - 10px); } }
  @media screen and (min-width: 2400px) {
    #real_content .gibbactus {
      width: calc(25% - 10px); } }

#side_content {
  width: 30%;
  max-width: 1024px;
  float: left; }

ul.imagelist li {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 15px 15px 0; }
  ul.imagelist li a {
    display: block;
    width: 100%;
    height: inherit;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    vertical-align: middle; }
    ul.imagelist li a:hover .gameinfo {
      background-color: rgba(38, 38, 38, 0.3); }
    ul.imagelist li a:hover span.format {
      display: inline-block !important; }
    ul.imagelist li a .gameinfo {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      background-color: rgba(38, 38, 38, 0.7); }
    ul.imagelist li a img {
      width: 100%;
      height: 200px; }
    ul.imagelist li a p.gamename {
      text-align: center;
      width: 100%;
      display: block; }
    ul.imagelist li a span.username {
      position: absolute;
      bottom: 10px;
      left: 10px; }
    ul.imagelist li a span.format {
      display: inline-block !important; }

#footer h4 {
  background: transparent url(/ui/images/cac30.gif) no-repeat right 10px center;
  background-size: contain;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  text-decoration: underline; }
#footer a {
  text-decoration: underline; }
#footer img {
  background: #F1F1F1;
  margin: 10px auto;
  display: block; }
#footer div.copyr, #footer div.disclaimer {
  padding: 10px;
  font-size: .8em; }

#side_content .crotypedia {
  margin: 10px 10px 10px 0; }

#side_content ul.imagelist li {
  margin: 0 0 5px 0px; }
@media screen and (min-width: 1910px) {
  #side_content ul.imagelist li {
    width: calc(50% - 0px);
    float: left; }
    #side_content ul.imagelist li a img {
      width: 100%; } }

span.format_mini, span.format_nano, span.format_micro, span.type_aar,
span.format_hands-on, span.type_tutoriel, span.format_joke, span.format_standard {
  text-transform: uppercase;
  border: 1px solid black;
  padding: 0 10px;
  text-align: center;
  font-size: 0.65em;
  height: 20px;
  line-height: 20px;
  display: inline-block !important;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  text-shadow: none; }

/*
span.format_standard {
display:none;
}
*/
.crotypedia h2 {
  background: url(/ui/images/crotypedia.png) transparent no-repeat center left;
  background-size: contain;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  padding-left: 55px;
  margin-bottom: 10px; }
  .crotypedia h2 a {
    text-decoration: none; }

.hfrtv h2, h2.hfrtv {
  background: url(/ui/images/hfrtv.png) #6441a5 no-repeat right 10px center;
  background-size: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin: 0px;
  padding-right: 50px;
  text-align: right; }

a.hfrtv.all {
  background: #6441a5;
  display: block;
  padding: 5px;
  text-align: right; }

#menu ul.imagelist li {
  height: 80px;
  margin: 0; }
  #menu ul.imagelist li a {
    font-size: .8em;
    text-align: center; }
    #menu ul.imagelist li a .gameinfo {
      height: 30px;
      line-height: 30px; }
    #menu ul.imagelist li a img {
      height: 80px; }

.gibbactu h2, #gibbactu h2 {
  background: #03254a url(/ui/images/gibbactu.jpg) no-repeat center left;
  background-size: contain;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin: 0;
  padding: 0; }

#gibbactu h2 a {
  color: #ccff33;
  text-decoration: none;
  display: block;
  padding-left: 65px; }
#gibbactu .gibbactus {
  text-align: justify;
  padding: 10px; }
  #gibbactu .gibbactus p {
    margin: 10px 0; }
  #gibbactu .gibbactus ul {
    border: none;
    padding: 0;
    margin: 0;
    list-style-type: none; }
  #gibbactu .gibbactus li {
    margin-bottom: 15px; }
  #gibbactu .gibbactus a {
    color: #03254a;
    font-weight: bold; }
  #gibbactu .gibbactus .container, #gibbactu .gibbactus .container p {
    padding: 0;
    margin: 0; }
  #gibbactu .gibbactus .s1Topic {
    font-size: 0.9em; }
  #gibbactu .gibbactus a:hover {
    color: #ccff33;
    background-color: #03254a;
    text-decoration: none; }
  #gibbactu .gibbactus a.date {
    font-size: 15px;
    font-style: italic;
    text-align: right;
    bottom: 5px;
    right: 2px;
    font-weight: normal; }
  #gibbactu .gibbactus a.date:hover {
    background: none;
    color: inherit; }

.gibbactus img[onload] {
  display: block;
  margin: 5px auto !important; }
