*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import 'reset';
@import 'mixins';
@import 'extend';

$font_base:    'PT Sans', Helvetica, Arial, sans-serif;
$color_background: lighten(black, 10%);
$color_contentbg:#F1F1F1;

$color_home:#EEEEEE;

$padding_base: 25px;

$spacer_base:5px;

$width_menu: 250px + $spacer_base;

body {
    font: 18px $font_base;
    background:$color_home;
}

html, body {
    height: 100%;
}

a {
    color:white;
    text-decoration:none;

    &:hover {
        text-decoration:underline;
    }
}

#outter {
    width: 100%;
    max-width:1280px;
    overflow: hidden;
    position: relative;
    margin:0 auto;
    border-bottom:10px solid $color_background;
    border-top:10px solid $color_background;
}

#menu {
    height: 100%;
    width: $width_menu;
    font-size:0.9em;

    position: absolute;

    background: $color_background;
    color: white;
    //border-right:$spacer_base solid $color_home;

    #title {
        color:white;
        text-decoration:none;
        font-size:4em;
        font-weight: bolder;
        text-align:center;
        display: block;
    }

    h3 {
        margin:0;
        font-size:1em;
        padding:0 10px;
    }

    #toolbar_up {
        padding:10px;
        .rss {
            height:30px;
            line-height: 30px;
            background: transparent url(/ui/images/1418066385_rss.png) no-repeat right center;
            background-size: contain;
            padding-left: 0px;
        }
    }

    blockquote {
        display:none;
    }


    .categories {
        margin:10px 0;

        li {

            a {
                transition:background-color .2s linear, color .2s linear;

                display:block;
                padding:0 10px;
                height: 40px;
                line-height: 40px;

                padding-left:30px;
                background: transparent no-repeat right 10px center;
                background-size: 30px;
                text-decoration:none;
                //border-right:10px solid green;
            }
            //margin:10px 0;

        }
/*
        li.mon-compte a {
            &:hover,  &.selected {
                color:white;
                background-color:#B02C2B;
                background-image:none;

            }
            background-image:none;
            border-color:#B02C2B;
        }

        li.home a {
            &:hover,  &.selected {
                color:black;
                background-color:$color_home;
                background-image:url(/favicon.ico);
                background-size:auto;

            }
            background-image:none;
            border-color:$color_home;

        }

        li.gibbactus a {
            &:hover,  &.selected {
                color:#ccff33;
                background-color:rgb(3, 37, 74);
                background-image:url(/ui/images/gibbactu.jpg);

            }
            background-image:none;
            border-color:rgb(3, 37, 74);

        }
        li.hfrtv a {
            &:hover,  &.selected {
                color:white;
                background-color:rgb(100, 65, 165);
                background-image:url(/ui/images/hfrtv.png);

            }
            background-image:none;
            border-color:rgb(100, 65, 165);


        }
        li.crotypedia a {
            &:hover,  &.selected {
                color:#000;
                background-color:white;
                background-image:url(/ui/images/crotypedia.png);

            }
            background-image:none;
            border-color:white;
        }

        li.mods a {
            background:none;
            //background-image:url(/ui/images/1418066589_home-128.png);
            &:hover,  &.selected {
                background-color:#3F4C6C;
            }
            border-color:#3F4C6C;
        }

        li.tu-pc a {
            &:hover,  &.selected {
                color:#FFF;
                background-color:#f18f18;
                background-image:none;

            }
            background:none;
            border-color:#f18f18;

        }

        */
    }
}

#content {
    margin-left: $width_menu + 5px;
    height: 100%;
    min-height: 1400px;
    //background:blue;

    #search_box {
        padding: $spacer_base 0;

        input {
            width: 100%;
            padding: 10px;
            font-size: 20px;
        }
    }
}

#real_content {
    width: 75%;
    border-right:$spacer_base solid $color_home;
    float:left;
    //background:green;






/*
    @media screen and (max-width: 1000px) {
        .gibbactus {
            width: calc(100% - 10px);
        }
    }

    @media screen and (min-width: 1980px) {
        .gibbactus {
            width: calc(33% - 10px);
        }
    }

    @media screen and (min-width: 2400px) {
        .gibbactus {
            width: calc(25% - 10px);
        }
    }
    */
}

#side_content {
    width: 25%;
    max-width: 1024px;
    float:left;
    font-size:0.9em;

    //background:red;
    //padding:10px 10px 10px 0;
}


#footer {

}

ul.imagelist {


    overflow: hidden;

    li {
        $liwidth: 100%;

        display: inline-block;
        position: relative;

        width:$liwidth;

        &:after {
            padding-top: 50%;
            display: block;
            content: '';
        }

        a {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            &:hover {

                &:after {

                }

                .gameinfo {
                    background-color: rgba($color_background, .3);
                }

                span.format {
                    display:inline-block !important;
                }
            }


            color:white;
            @include text-shadow();
            vertical-align: middle;

            .gameinfo {
                transition:background-color .1s linear;

                position: absolute;
                bottom:0;
                left:0;
                width:100%;
                height: 40px;
                line-height: 40px;
                background-color: rgba($color_background, .7);
            }

            img {

                width:100%;
                height:100%;
            }

            p.gamename {

                text-align: center;
                width: 100%;
                display:block;
            }

            span.username {
                position:absolute;
                bottom:10px;
                left:10px;
            }

            span.format {
                display:inline-block !important;
            }

            span.date {

            }
        }
    }

}

//HFR
.spoiler {
    cursor:pointer;
    border-collapse: collapse;

    background:transparent url(/ui/images/warning.png) no-repeat 50% 50%;

    tbody {
        background:white;
        visibility:hidden;
    }
    td {
        padding:0;
        width:100%;
    }
}

.quote {
    border-collapse: collapse;

    background:transparent url(/ui/images/quote.png) no-repeat top left;

    width: 95%;
    margin: 0 auto;
    background-color: $color_home;

    tr.none td {
        padding:0 10px 25px 10px;
    }

    tbody {
        background:transparent url(/ui/images/quote.png) no-repeat bottom right;
    }

}
//

#footer {
    h4 {
        background:transparent url(/ui/images/cac30.gif) no-repeat right 10px center;
        background-size:contain;
        height:40px;
        line-height:40px;
        padding-left:30px;
        text-decoration:underline;
    }

    a {
        text-decoration:underline;
    }

    img {
        background: #F1F1F1;
        margin:10px auto;
        display:block;
    }

    div.copyr, div.disclaimer {
        padding:10px;
        font-size:.8em;
    }
}

@import 'crotypedia';
@import 'hfrtv';
@import 'gibbactu';
