*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.overflow {
    overflow: hidden;
}

.link_header a {
    color: white;
    text-decoration: none;
}

.link_header a:hover {
    text-decoration: underline;
}

body {
    font: 18px "PT Sans", Helvetica, Arial, sans-serif;
    background: #EEEEEE;
}

html, body {
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#outter {
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-bottom: 10px solid #1a1a1a;
    border-top: 10px solid #1a1a1a;
}

#menu {
    height: 100%;
    width: 255px;
    font-size: 0.9em;
    position: absolute;
    background: #1a1a1a;
    color: white;
}

#menu #title {
    color: white;
    text-decoration: none;
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    display: block;
}

#menu h3 {
    margin: 0;
    font-size: 1em;
    padding: 0 10px;
}

#menu #toolbar_up {
    padding: 10px;
}

#menu #toolbar_up .rss {
    height: 30px;
    line-height: 30px;
/*    background: transparent url(/ui/images/1418066385_rss.png) no-repeat right center;
    background-size: contain;*/
    padding: 5px;
    margin-bottom: 5px;
}

#menu #toolbar_up a.rss {
    background: transparent url(/ui/images/1418066385_rss.png) no-repeat left center;
    background-size: contain;
    padding-left: 40px;
}

#menu blockquote {
    display: none;
}

#menu .categories {
    margin: 20px 0;
    /*
            li.mon-compte a {
                &:hover,  &.selected {
                    color:white;
                    background-color:#B02C2B;
                    background-image:none;

                }
                background-image:none;
                border-color:#B02C2B;
            }

            li.home a {
                &:hover,  &.selected {
                    color:black;
                    background-color:$color_home;
                    background-image:url(/favicon.ico);
                    background-size:auto;

                }
                background-image:none;
                border-color:$color_home;

            }

            li.gibbactus a {
                &:hover,  &.selected {
                    color:#ccff33;
                    background-color:rgb(3, 37, 74);
                    background-image:url(/ui/images/gibbactu.jpg);

                }
                background-image:none;
                border-color:rgb(3, 37, 74);

            }
            li.hfrtv a {
                &:hover,  &.selected {
                    color:white;
                    background-color:rgb(100, 65, 165);
                    background-image:url(/ui/images/hfrtv.png);

                }
                background-image:none;
                border-color:rgb(100, 65, 165);


            }
            li.crotypedia a {
                &:hover,  &.selected {
                    color:#000;
                    background-color:white;
                    background-image:url(/ui/images/crotypedia.png);

                }
                background-image:none;
                border-color:white;
            }

            li.mods a {
                background:none;
                //background-image:url(/ui/images/1418066589_home-128.png);
                &:hover,  &.selected {
                    background-color:#3F4C6C;
                }
                border-color:#3F4C6C;
            }

            li.tu-pc a {
                &:hover,  &.selected {
                    color:#FFF;
                    background-color:#f18f18;
                    background-image:none;

                }
                background:none;
                border-color:#f18f18;

            }

            */
}

#menu .categories li a {
    transition: background-color .2s linear, color .2s linear;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    padding-left: 60px;
    background: transparent no-repeat left 15px center;
    background-size: 30px;
    text-decoration: none;
}

#content {
    margin-left: 260px;
    height: 100%;
    min-height: 1400px;
}

#content #search_box {
    padding: 5px 0;
}

#content #search_box input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

#real_content {
    width: 75%;
    border-right: 5px solid #EEEEEE;
    float: left;
    /*
        @media screen and (max-width: 1000px) {
            .gibbactus {
                width: calc(100% - 10px);
            }
        }

        @media screen and (min-width: 1980px) {
            .gibbactus {
                width: calc(33% - 10px);
            }
        }

        @media screen and (min-width: 2400px) {
            .gibbactus {
                width: calc(25% - 10px);
            }
        }
        */
}

#side_content {
    width: 25%;
    max-width: 1024px;
    float: left;
    font-size: 0.9em;
}

ul.imagelist, ul.cr_games {
    overflow: hidden;
}

ul.imagelist li, ul.cr_games li {
    display: inline-block;
    position: relative;
    width: 100%;
}

ul.imagelist li:after, ul.cr_games li:after {
    padding-top: 50%;
    display: block;
    content: '';
}

ul.imagelist li a, ul.cr_games li a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    vertical-align: middle;
}

ul.imagelist li a:hover .gameinfo, ul.cr_games li a:hover .gameinfo {
    background-color: rgba(26, 26, 26, 0.3);
}

ul.imagelist li a:hover span.format, ul.cr_games li a:hover span.format {
    display: inline-block !important;
}

ul.imagelist li a .gameinfo, ul.cr_games li a .gameinfo {
    transition: background-color .1s linear;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(26, 26, 26, 0.7);
}

ul.imagelist li a img, ul.cr_games li a img {
    width: 100%;
    height: 100%;
}

ul.imagelist li a p.gamename, ul.cr_games li a p.gamename {
    text-align: center;
    width: 100%;
    display: block;
}

ul.imagelist li a span.username, ul.cr_games li a span.username {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

ul.imagelist li a span.format, ul.cr_games li a span.format {
    display: inline-block !important;
}

.spoiler {
    cursor: pointer;
    border-collapse: collapse;
    background: transparent url(/ui/images/spoiler-alert.png) no-repeat 50% 50%;
    background-size: auto 100%;
}

.spoiler tbody  {
    background: #EEEEEE;
    visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spoiler td {
    padding: 0;
    width: 100%;
}

.quote, .citation{
    border-collapse: collapse;
    background: transparent url(/ui/images/quote.png) no-repeat top left;
    width: 95%;
    margin: 0 auto;
    background-color: #EEEEEE;
}

.quote tr.none td, .citation tr.none td {
    padding: 0 10px 25px 10px;
}

.quote tbody, .citation tbody {
    background: transparent url(/ui/images/quote.png) no-repeat bottom right;
}

#footer h4 {
    background: transparent no-repeat right 10px center;
    background-size: contain;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    text-decoration: underline;
}

#footer a {
    text-decoration: underline;
}

#footer img {
    background: #bbbbbb;
    margin: 10px auto;
    display: block;
}

#footer div.copyr, #footer div.disclaimer {
    padding: 10px;
    font-size: .8em;
}

#side_content .crotypedia {
    margin: 0;
}

#side_content ul.imagelist li:after {
    padding-top: 80%;
}

#crotypedia.homebox {
    margin-top: 10px;
}

#crotypedia.homebox ul.imagelist li {
    border-bottom: 5px solid #EEEEEE;
    border-left: 3px solid #EEEEEE;
    width: 50%;
    float: left;
}

#crotypedia.homebox ul.cr_games li {
    border-bottom: 5px solid #EEEEEE;
    border-left: 3px solid #EEEEEE;
    width: 25%;
    height: 120px;
    float: left;
    font-size: 0.8em;
}

#crotypedia.homebox ul.imagelist li:after, #crotypedia.homebox ul.cr_games li:after {
    padding-top: 30%;
}

#crotypedia.homebox ul.imagelist li:nth-child(2n+1) {
    border-right: 3px solid #EEEEEE;
    border-left: none;
}

#crotypedia.homebox ul {
    margin:0;
    padding:10px 15px;
    list-style-type: none;
}

span.format {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: white;
    height: 30px;
    line-height: 30px;
}

span.format_mini, span.format_nano, span.format_micro, span.type_aar, span.format_santa,
span.format_hands-on, span.type_tutoriel, span.format_joke, span.format_standard {
    text-transform: uppercase;
    padding: 0 10px;
    text-align: center;
    font-size: 0.65em;
    display: inline-block !important;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    text-shadow: none;
}

/*
span.format_standard {
display:none;
}
*/
#crotypedia h2, .crotypedia h2 {
    background: #EEEEEE url(/ui/images/crotypedia.png) no-repeat center left;
    background-size: contain;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 65px;
    margin: 0px 0 5px 0;
}

#crotypedia h2 a, .crotypedia h2 a {
    text-decoration: none;
    color: #000;
}

#crotypedia.catbox .innercontent {
    padding: 15px 0;
    text-align: justify;
}

#crotypedia.catbox .innercontent p {
    margin: 0;
    padding: 0 10px;
}

#crotypedia.catbox .innercontent a, .cr_details a {
    color: #0645ad;
    text-decoration: none;
    display: inline;
    font-weight: bold;
}

#crotypedia.catbox img {
    max-width: 100%;
    margin: 0 !important;
}

#crotypedia.catbox img[onload], .gibbactus table img[onload], .gibbactus img[onload] {
    max-width: 100%;
    display: block;
    margin: 5px auto !important;
}

#crotypedia.catbox ul {
    list-style-type: disc;
    padding: 0 30px;
}

.cr_details {
    background-color: #EEEEEE;
    padding: 15px;
}

.cr_details span.games {
    float: left;
    width: 45%;
}

.cr_details span.username {
    float: right;
    width: 45%;
    text-align: right;
}

.cr_details span.date {
    float: right;
    width: 45%;
    text-align: right;
}

.cr_details span.out_link {
    clear: both;
    /* float: right; */
    display: block;
    text-align: center;
}

h3.game {
    height: 200px;
    background-size: cover;
    background-position: center center;
    line-height: 200px;
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3.game.total2 {
    height: 100px;
    line-height: 100px;
}

h3.game.total3 {
    height: 60px;
    line-height: 60px;
}

h3.game.total4 {
    height: 50px;
    line-height: 50px;
}

.hfrtv h2, h2.hfrtv {
    background: url(/ui/images/hfrtv.png) #6441a5 no-repeat right 10px center;
    background-size: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 0px;
    padding-right: 50px;
    text-align: right;
}

a.hfrtv.all {
    background: #6441a5;
    display: block;
    padding: 5px;
    text-align: right;
}

#menu ul.imagelist li {
    margin: 0;
}

#menu ul.imagelist li:after {
    padding-top: 33%;
    display: block;
    content: '';
}

#menu ul.imagelist li a {
    font-size: .8em;
    text-align: center;
}

#menu ul.imagelist li a .gameinfo {
    height: 30px;
    line-height: 30px;
}

.gibbactu h2, #gibbactu h2 {
    background: #03254a url(/ui/images/gibbactu.jpg) no-repeat center left;
    background-size: contain;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#gibbactu h2 {
    margin-bottom: 5px;
}

#gibbactu h2 a {
    color: #ccff33;
    text-decoration: none;
    display: block;
    padding-left: 65px;
}

#gibbactu .gibbactus {
    text-align: justify;
    position: relative;
    padding-top: 35px;
}

#gibbactu .gibbactus p {
    margin: 10px 0;
}

#gibbactu .gibbactus ul {
    border: none;
    padding: 10px;
    margin: 0 15px;
    list-style-type: disc;
}

#gibbactu .gibbactus a {
    color: #03254a;
    font-weight: bold;
    padding: 0 3px;
}

#gibbactu .gibbactus .container, #gibbactu .gibbactus .container p {
    padding: 0;
    margin: 0 0 5px 0;
}

#gibbactu .gibbactus .s1, #gibbactu .gibbactus .s1Topic, #crotypedia.homebox .s1, #crotypedia.homebox .s1Topic {
    display: none;
}

#gibbactu .gibbactus a:hover, #gibbactu .allinks:hover {
    color: #ccff33;
    background-color: #03254a;
    text-decoration: none;
}

.test-popup-link:hover {
    background-color: transparent !important;
    cursor: zoom-in;
}

#gibbactu .gibbactus a.date {
    padding: 5px;
    font-size: 15px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: normal;
    color: #ccff33;
    background-color: #03254a;
    text-decoration: none;
}

#gibbactu .gibbactus a.date * {
    vertical-align: middle;
}

.gibbactus img[onload] {
    display: block;
    max-width: 100%;
    margin: 5px auto !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.html5-container video {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}


.container .header {
    background: #1a1a1a;
}

.header h1 a {
    color: #EEEEEE;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    padding-top: 0.5%;
    margin-left: 150px;
}

.header h1, .header h3 {
    font-family: 'Arvo', Georgia, Times, serif;
    text-align: center;
    margin: 0;

    display: inline-block;
}

.header h3 {
    margin: 0.5em 15px;
    padding-bottom: 1%;
    font-size: 0.9em;
    color: #EEEEEE;
    font-weight: 400;
    margin-left: 75px;
}

.allinks {
    float:right;
    font-size: 14px;
    margin:20px;
    font-style:italic;
    font-weight: bolder;
    font-size: 0.9em;
}

#gibbactu .allinks {
    color: #03254a;
    font-weight: bold;
}

.auth_content {
    margin:10px;
    text-align: justify;
}

.auth_content a {
    color: black;
}

/* Overlay */
#simplemodal-overlay {
    background-color: #000;
}

/* Container */
#simplemodal-container {
    min-width: 100px;
    min-height: 100px;
    color: #bbb;
    background-color: #333;
    border: 4px solid #444;
    padding: 12px;
    text-align: justify;
}

#simplemodal-container .simplemodal-data {
    padding: 8px;
}

#simplemodal-container code {
    background: #141414;
    border-left: 3px solid #65B43D;
    color: #bbb;
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
    padding: 4px 6px 6px;
}

#simplemodal-container a {
    color: #ddd;
}

#simplemodal-container a.modalCloseImg {
    background: url(/ui/images/x.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;
}

#simplemodal-container h3 {
    color: #84b8d9;
}

/*#basic-modal-content {
    width: 100px;
    height: 100%;
}*/

/*#hfrtv ul, #crotypedia ul.cr_games {
    padding:0;
    background:black;
    z-index:1;
    position: relative;

}

#hfrtv ul li, #crotypedia ul.cr_games li {
    display: block;
    position: relative;
    float:left;
    width:25%;

}

#crotypedia ul.cr_games li {
    width:25%;
}
#hfrtv ul li::before, #crotypedia ul.cr_games li::before {
    content: "";
    display: block;
    padding-top: 55%;
    z-index:-21;
    position: relative;
}
#crotypedia ul.cr_games li::before {
    padding-top: 50%;
}

#hfrtv ul li a, #crotypedia ul.cr_games li a {
    position:  absolute;
    left: 0;
    bottom: 0;
    right: 0;
    font-size:.7em;
    color:white;
    text-decoration: none;

    background-color:rgba(100, 65, 165, 0.8);
    height:2em;
    line-height:2em;
    padding-left:0.4em;
}

#crotypedia ul.cr_games li a {
    background-color:rgba(255, 255, 255, 0.8);
    color:#000;
}

#hfrtv ul li::before, #crotypedia ul.cr_games li::before {
    content: "";
    background-color:black;
}
#hfrtv ul li::after, #crotypedia ul.cr_games li::after {
    -webkit-background-size: 110%;
    -moz-background-size: 110%;
    -o-background-size: 110%;
    background-size: 110%;

    background-position: center center;
    top: 0;
    left: 0;
    content: "";
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    transition: opacity .2s ease;
    background-repeat: no-repeat;

}
#hfrtv ul li:hover::after, #crotypedia ul.cr_games li:hover::after {
    opacity:.8;
}*/

