<div id="footer">
    <div class="wrapper">
        <div class="copyr">
          <span class="copy">©JAK - 2014-15 - version {{@version}}</span>
        </div>

        <div><a class="twitter-follow-button"
               href="https://twitter.com/TheTartuffeBay" data-show-count="false">
            Follow @TheTartuffeBay</a></div>

        <div class="disclaimer">
          Toutes les marques citées sur thetartuffebay.org appartiennent à leurs propriétaires respectifs. <br><br>
          Si vous souhaitez ne pas apparaitre sur ce site, <a href="mailto:webmaster@thetartuffebay.org" target="_blank">contactez-nous</a>
        </div>
    </div>
</div>
