<div class="container footer">
  <div class="wrap">
    <div class="sponsors">
      <img src="/ui/sponsor/nodlc.png" alt=""><img src="/ui/sponsor/hru.png" alt=""><img src="/ui/sponsor/bra.png" alt="">
    </div>

    <div class="copyr">
      <span class="copy">ⓣ2014 FLK.</span> <a href="https://github.com/FLKone/ttb/commits/master" class="version" target="_blank">version 0.0.9</a>
    </div>

    <div class="disclaimer">
      Toutes les marques citées sur thetartuffebay.org appartiennent à leurs propriétaires respectifs. <br>
      Si vous souhaitez ne pas apparaitre sur ce site, <a href="http://forum.hardware.fr/hfr/profil-89386.htm" target="_blank">contactez-moi</a>
    </div>
  </div>
</div>
