<!-- CONTENT -->
<div id="real_content">
	
	<div id="gibbactu" class="homebox">
		<repeat group="{{ @actus }}" value="{{ @item }}">
			<include href="actu/li.htm" />
		</repeat>

		<!--<a class="allinks" href="{{@ALIASES.actus_list}}" title="Gibb'Actu">toutes les actus &rsaquo;</a>-->
	</div><!-- #gibbactu -->
</div>
<!-- ./CONTENT -->


<!-- CR -->
<div id="side_content">
	<div class="crotypedia">
		<!--<h2 class="categories"><a href="{{@ALIASES.crs_list}}">CROTYpedia</a></h2>-->
		<ul class="imagelist">
			<repeat group="{{ @crs }}" value="{{ @item }}">
				<include href="cr/li_header.htm" />
			</repeat>
		</ul>
	</div>
</div>
