<div id="gibbactu" class="homebox">
	<h2><a href="{{@ALIASES.actus_list}}">Gibb'Actu</a></h2>
	<repeat group="{{ @actus }}" value="{{ @item }}">
		<include href="actu/li.htm" />
	</repeat>

	<a class="allinks" href="{{@ALIASES.actus_list}}" title="Gibb'Actu">toutes les actus &rsaquo;</a>
</div><!-- #gibbactu -->

<div id="hfrtv" class="homebox">
	<h2><a href="{{@ALIASES.streams_list}}">HFR.tv</a></h2>
	<ul class="name">
		<repeat group="{{ @streams }}" value="{{ @item }}">
			<include href="stream/li.htm" />
		</repeat>
	</ul>
	<div class="cleaner"></div>
	<a class="allinks" href="{{@ALIASES.streams_list}}" title="HFR.tv">tous les streams &rsaquo;</a>
</div><!-- #hfrtv -->

<div id="crotypedia" class="homebox">
	<h2><a href="{{@ALIASES.crs_list}}">CROTYpedia</a></h2>
	<ul>
		<repeat group="{{ @crs }}" value="{{ @item }}">
			<include href="cr/li.htm" />
		</repeat>
	</ul>
	<a class="allinks" href="{{@ALIASES.crs_list}}" title="CROTYpedia">tous les CRs &rsaquo;</a>
</div><!-- #crotypedia -->
