<!doctype html>
<html lang="en" <check if="{{ \Base::instance()->exists('includeJsCssImportCr') && (@includeJsCssImportCr == 'true') }}"><true>ng-app="App"</true></check>>
	<head>
		<meta charset="<?php echo $ENCODING; ?>" />
		<title><check if="{{ isset(@site_title) }}">{{ @site_title }}</check><check if="{{ !isset(@site_title) }}">{{ @site }}</check></title>
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />

		<link rel="stylesheet" href="/ui/css/theme.css" type="text/css" />

		<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/ui/jquery-ui/jquery-ui.css">
        <script src="/ui/jquery-ui/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/ui/js/ttb.js"></script>

        <check if="{{ \Base::instance()->exists('includePodcast') && (@includePodcast == 'true') }}">
            <true>
                <link type="application/rss+xml" rel="alternate" title="Le podcast des Tartuffes" href="http://www.thetartuffebay.org/podcast/podcast_TTB.xml"/>
            </true>
            <false>
                <link rel="alternate" type="application/rss+xml" title="Le RSS 100% tartuffe" href="{{ @ALIASES.rss_all }}" />
            </false>
        </check>

        <check if="{{ \Base::instance()->exists('includeJsCssAccount') && (@includeJsCssAccount == 'true') }}">
            <true>
                <script type="text/javascript" src="/ui/js/sha512.js"></script>
                <link rel="stylesheet" href="/ui/css/pure-min.css" type="text/css" />
                <link rel="stylesheet" href="/ui/css/menu.css" type="text/css" />
            </true>
        </check>

        <check if="{{ \Base::instance()->exists('includeJsCssEdition') && (@includeJsCssEdition == 'true') }}">
            <true>
                <script src="/tinymce/js/tinymce/tinymce.min.js"></script>
            </true>
        </check>

        <check if="{{ \Base::instance()->exists('includeJsCssStream') && (@includeJsCssStream == 'true') }}">
            <true>
                <script src="/youmax/jquery/jquery-1.9.1.min.js"></script>
                <script src="/youmax/js/jquery.youmax.min.js"></script>
                <link rel="stylesheet" href="/youmax/css/youmax_block.min.css" type="text/css" />
            </true>
        </check>

        <check if="{{ \Base::instance()->exists('includeJsCssAgenda') && (@includeJsCssAgenda == 'true') }}">
            <true>
                <script type="text/javascript" src="/ui/js/jquery-ui-timepicker-addon.js"></script>
                <link rel="stylesheet" href="/ui/css/jquery-ui-timepicker-addon.css" type="text/css" />
            </true>
        </check>

        <check if="{{ \Base::instance()->exists('includeJsCssImportCr') && (@includeJsCssImportCr == 'true') }}">
            <true>
                <link rel="stylesheet" href="/ui/css/loading-bar.css" type="text/css" />
                <link rel="stylesheet" href="/lib/code.css" type="text/css" />
                <link rel="stylesheet" href="/ui/css/admin.css" type="text/css" />
                <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
            </true>
        </check>

        <script type="text/javascript" src="/ui/js/jquery.magnific-popup.js"></script>
        <link rel="stylesheet" href="/ui/css/magnific-popup.css" type="text/css" />
        <script type="text/javascript" src="/ui/js/jquery.simplemodal.1.4.4.min.js"></script>

		<link rel="shortcut icon" href="http://www.thetartuffebay.org/favicon.ico?v=4" />

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-62727574-1', 'auto');
		ga('send', 'pageview');

		</script>

        <script>
            $(function() {
                // Menu flottant
                var nav = $('#floatingMenu');
                var navHomeY = nav.offset().top;
                var isFixed = false;
                var $w = $(window);
                $w.scroll(function () {
                    var scrollTop = $w.scrollTop();
                    var shouldBeFixed = scrollTop > navHomeY;
                    if (shouldBeFixed && !isFixed) {
                        nav.css({
                            position: 'fixed',
                            top: 0,
                            left: nav.offset().left,
                            width: nav.width()
                        });
                        isFixed = true;
                    }
                    else if (!shouldBeFixed && isFixed) {
                        nav.css({
                            position: 'static'
                        });
                        isFixed = false;
                    }
                });
            });
        </script>

	</head>
	<body>

		<div id="outter">

            <div class="container header">
                <div class="wrap">
                    <div class="header">
                        <h1><a href="/" title="{{ @site }}">{{ @site }}</a></h1>
                        <h3>&laquo; Seulement -80% ? J'attendrai les soldes. &raquo;
                            <br>&ndash;<i> Un Maitre Tartuffe</i></h3>
                    </div>
                </div>
            </div>

			<div id="menu">
				<!-- TOOLBAR -->
				<ul id="toolbar_up">
					<li class="rss"><a class="rss" href="{{ @ALIASES.rss_all }}">Le RSS 100% tartuffe</a></li>
				</ul>

                <form method="GET" action="{{@ALIASES.search}}" onsubmit="return validateForm()" id="search" name="search">
                    <input name="query" id ="query" type="text" size="40" placeholder="Recherche..." />
                </form>

				<!-- TV -->
				<div id="event">
					<h2 class="hfrtv">Streams à venir</h2>
					<ul class="imagelist">
						<repeat group="{{ @inc_streams }}" value="{{ @item }}">
							<li>
								<a href="{{ @item['adress'] }}/">
									<img src="{{ @media }}/center/33/{{ @item['image'] }}"/>
									<div class="gameinfo">
										<p>{{ @item['username'] }} le {{@item['date']}}</p>
									</div>
                                    <span class="format format_standard type_cr">
			                            {{@item['games']}}
		                            </span>
								</a>

							</li>
						</repeat>
					</ul>

					<a class="hfrtv all" href="{{ @ALIASES.agenda }}">Planning complet ></a>

				</div>

				<!-- MENU -->
                <div id="floatingMenu">
                    <ul class="categories">
                        <repeat group="{{ @menu }}" value="{{ @item }}">
                            <li class="{{ toAscii(@item['title']) }}"><a class="<check if="{{ @item['selected'] == 'selected' }}"> selected</check>" href="{{ @item['url'] }}"
                                <check if="{{ @item['title'] == 'Topic PC' || @item['title'] == 'Salon des Tartuffes' }}"> target="_blank"</check>>{{ @item['title'] }}</a></li>

                        </repeat>

                    </ul>

                    <style>
                        <repeat group="{{ @menu }}" value="{{ @item }}">
                            li.{{ toAscii(@item['title']) }} a {
                                background-image:none !important;
                                border-color:{{ @item['color'] }} !important;
                                border-left:5px solid;
                                background-image:{{ @item['icon'] }} !important;
                            }

                            li.{{ toAscii(@item['title']) }} a:hover,  li.{{ toAscii(@item['title']) }} a.selected {
                                color:{{ @item['tcolor'] }} !important;
                                background-color:{{ @item['color'] }} !important;

                            }

                            <check if="{{ @item['selected'] == 'selected' }}">
                            #menu {
                                border-color:{{ @item['color'] }} !important;
                            }

                            </check>

                        </repeat>
                    </style>


                    <include href="footer.htm" />
                </div>
            </div>

			<div id="content">

				<include href="{{ @view }}" />

			</div>
		</div>

        <script type="text/javascript">
            function validateForm() {
                var x = document.forms["search"]["query"].value;
                if (x == null || x == "" || x.length < 3) {
                    $.modal("Votre recherche doit faire au moins 3 caractères",
                            {   overlayClose : true,
                                onShow: function(dlg) {
                                    $(dlg.container).css('height','auto');
                                    $(dlg.container).css('width','auto');
                                    $.modal.setPosition();
                                }});
                    return false;
                }
            }

            $(document).ready(function() {
                $(".popup-youtube").magnificPopup({
                    disableOn: 700,
                    type: "iframe",
                    mainClass: "mfp-fade",
                    removalDelay: 160,
                    preloader: false,
                    fixedContentPos: false,
                    iframe: {
                        patterns: {
                            youtube_short: {
                                index: 'youtu.be/',
                                id: 'youtu.be/',
                                src: '//www.youtube.com/embed/%id%?autoplay=1'
                            }
                        }
                    }
                });

                $(".test-popup-link").magnificPopup({
                    type: 'image',
                    closeOnContentClick: true,
                    image: {
                        verticalFit: true
                    },
                    mainClass: 'mfp-no-margins mfp-with-zoom'
/*                    zoom: {
                        enabled: true,
                        duration: 300
                    }*/
                });
            });

            window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function(f) {
                    t._e.push(f);
                };

                return t;
            }(document, "script", "twitter-wjs"));
        </script>

	</body>
</html>
