<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="<?php echo $ENCODING; ?>" />
		<title>{{ @site }}</title>
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
		<link rel="stylesheet" href="ui/css/base.css" type="text/css" />
		<link rel="stylesheet" href="ui/css/theme.css" type="text/css" />
		<link rel="stylesheet" href="lib/code.css" type="text/css" />
	</head>
	<body>
		<div class="container">
			<div class="header">
			
				<h1><a href="/" title="{{ @site }}">{{ @site }}</a></h1>
				<h3>&laquo; Seulement -80% ? J'attendrais les soldes. &raquo; <i>Un Maitre Tartuffier</i></h3>
					
				<ul>
					<li class="gibbactu"><a href="/gibbactu" title="Gibb'Actu">Gibb'Actu</a></li>
					<li class="hfrtv"><a href="/hfrtv" title="HFRtv">HFRtv</a></li>			
					<li class="crotypedia"><a href="/crotypedia" title="">CROTYpedia</a></li>
				</ul>					
			</div>
		</div>

		<div class="container">
			<include href="{{ @view }}" />
		</div>
		
		<div class="container">
			<div class="footer">
				<h3>Sponsorisé par :</h3>
				
				<h5>soon&copy;</h2>
				
				<span class="copy">ⓣ tartufferight 2014 FLK. No Rights Reserved. </span> <a href="https://github.com/FLKone/ttb/commits/master" class="version" target="_blank">version 0.0.2</a>
			</div>
		</div>
	</body>
</html>
